<ul id="navTabs" class="nav nav-tabs nav-tabs-responsive">
    <li class="nav-item item" role="presentation">
        <button class="nav-link active" id="product-details" data-bs-toggle="tab" data-bs-target="#product-details"
                type="button" role="tab" aria-controls="product-details" aria-selected="true">Product details
        </button>
    </li>
    <li class="nav-item item" role="presentation">
        <button class="nav-link" id="classification" data-bs-toggle="tab" data-bs-target="#classification" type="button"
                role="tab" aria-controls="classification" aria-selected="false"><span class="unread"></span>Classification<span
                class="notify">1</span>
        </button>
    </li>
    <li class="nav-item item" role="presentation">
        <button class="nav-link" id="media" data-bs-toggle="tab" data-bs-target="#media" type="button"
                role="tab" aria-controls="media" aria-selected="false">Media<span class="notify">88</span>
        </button>
    </li>
    <li class="nav-item item" role="presentation">
        <button class="nav-link" id="pricing" data-bs-toggle="tab" data-bs-target="#pricing" type="button" role="tab"
                aria-controls="pricing" aria-selected="false">Pricing
        </button>
    </li>
    <li class="nav-item item" role="presentation">
        <button class="nav-link" id="options" data-bs-toggle="tab" data-bs-target="#options" type="button" role="tab"
                aria-controls="options" aria-selected="false">Options
        </button>
    </li>
    <li class="nav-item item" role="presentation">
        <button class="nav-link" id="another" data-bs-toggle="tab" data-bs-target="#another" type="button" role="tab"
                aria-controls="another" aria-selected="false">Another tab name
        </button>
    </li>
    <div class="nav-tabs__next">
        <button class="more-btn nav-tabs__next__btn"><i class="hamburger-menu"></i></button>
        <ul class="nav-tabs__next__nav"></ul>
    </div>
</ul>

