<div class="grid-wrapper ">
    <div class="grid">
        <div class="table-responsive">
            <table class="grid__table">
                <thead class="grid__head">
                <tr class="thead-tr thead-tr--labels">
                    <th class="th--checkbox cell--checkbox">
                        {{> grid__check-all-input}}
                    </th>
                    <th class="name active">
                        <a href="" class="sort sort--down selected">Order</a>
                    </th>
                    <th class="name">
                        <a href="">Picture</a>
                    </th>
                    <th class="name">
                        <a href="">SKU</a>
                    </th>
                    <th class="name text-start mw350">
                        <a href="">Title</a>
                    </th>
                    <th class="name">
                        <a href="">Options</a>
                    </th>
                    <th class="name">
                        <a href="">Publication</a>
                    </th>
                    <th class="name th--actions cell--actions">
                        <span>Actions</span>
                    </th>
                </tr>
                </thead>
                <tbody class="grid__body">
                <tr class="tr">
                    <td class="td--checkbox cell--checkbox">
                        <input class="form-check-input product-checkbox" type="checkbox" id="option2" value="option2">
                    </td>
                    <td class="text-center">
                        2
                    </td>
                    <td class="text-center">
                        <img src="assets/images/samples/grid-image.png" alt="">
                    </td>
                    <td class="text-center">
                        123548975
                    </td>
                    <td>
                        Domo skládané pouzdro na tablet s funkcí Smart Sleep podstavec
                    </td>
                    <td class="text-center">
                       4
                    </td>
                    <td class="text-center">
                       <span class="tag tag--blue">DRAFT</span>
                    </td>
                    <td class="td--actions cell--actions">
                        <div class="action-btns">
                            <button class="action-btn action-btn--edit"><i class="edit"></i></button>
                            <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                        </div>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="td--checkbox cell--checkbox">
                        <input class="form-check-input product-checkbox" type="checkbox" id="option3" value="option3">
                    </td>
                    <td class="text-center">
                        3
                    </td>
                    <td class="text-center">
                        <img src="assets/images/samples/grid-image.png" alt="">
                    </td>
                    <td class="text-center">
                        123548975
                    </td>
                    <td>
                        Domo skládané pouzdro na tablet s funkcí Smart Sleep podstavec
                    </td>
                    <td class="text-center">
                        4
                    </td>
                    <td class="text-center">
                        <span class="tag tag--green">ACTIVE</span>
                    </td>
                    <td class="td--actions cell--actions">
                        <div class="action-btns">
                            <button class="action-btn action-btn--edit"><i class="edit"></i></button>
                            <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                        </div>
                    </td>
                </tr>
                <tr class="tr">
                    <td class="td--checkbox cell--checkbox">
                        <input class="form-check-input product-checkbox" type="checkbox" id="option1" value="option1">
                    </td>
                    <td class="text-center">
                        1
                    </td>
                    <td class="text-center">
                        <img src="assets/images/samples/grid-image.png" alt="">
                    </td>
                    <td class="text-center">
                        123548975
                    </td>
                    <td>
                        Domo skládané pouzdro na tablet s funkcí Smart Sleep podstavec
                    </td>
                    <td class="text-center">
                        -
                    </td>
                    <td class="text-center">
                        <span class="tag tag--green">ACTIVE</span>
                    </td>
                    <td class="td--actions cell--actions">
                        <div class="action-btns">
                            <button class="action-btn action-btn--edit"><i class="edit"></i></button>
                            <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            {{> grid__bottom}}
        </div>
    </div>


</div>