<div class="grid-top">
    <div class="grid-top__left">
        <div class="span-w-close">
            <span class="text">Advanced filter is ON </span>
            <button class="close"><i class="multiply-2"></i></button>
        </div>
        <button class="btn btn--dark btn--mobile-icon-only"><i class="edit"></i>EDIT FILTER</button>
    </div>
    <div class="grid-top__actions">
        <button class="btn btn--primary"><span class="btn-front"><span
                class="btn-front-text">NEW PRODUCT</span></span></button>
    </div>
</div>