<div class="grid-wrapper">
    <div class="grid">
        <div class="table-responsive">
            <table class="grid__table">
                <thead class="grid__head">
                <tr class="thead-tr thead-tr--labels">
                    <th class="name active">
                        <a href="" class="sort sort--down selected">Date</a>
                    </th>
                    <th class="name">
                        <a href="">Document type</a>
                    </th>
                    <th class="name">
                        <a href="">Number</a>
                    </th>
                    <th class="name">
                        <a href="">Variable Symbol</a>
                    </th>
                    <th class="name">
                        <a href="">Note</a>
                    </th>
                    <th class="name">
                        <a href="">Amount</a>
                    </th>
                    <th class="name th--actions cell--actions">
                        <span>Actions</span>
                    </th>
                </tr>
                </thead>
                <tbody class="grid__body">
                <tr class="tr">
                    <td class="text-center">
                        <span data-bs-toggle="tooltip" title="" class="tooltip-item" data-bs-original-title="22-02-2022 16:32:22">22-02-2022</span>
                    </td>
                    <td class="text-center">
                        Invoice
                    </td>
                    <td class="text-center">
                        FF2003255
                    </td>
                    <td class="text-center">
                        209005522
                    </td>
                    <td class="text-center">

                    </td>
                    <td class="text-center">
                        10&nbsp;000&nbsp;CZK
                    </td>
                    <td class="td--actions cell--actions">
                        <div class="action-btns">
                            <button class="action-btn action-btn--print"><i class="file"></i></button>
                            <button class="action-btn action-btn--edit"><i class="edit"></i></button>
                            <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="my-3 d-flex justify-content-end">
        <button class="btn btn--primary"><span class="btn-front"><span class="btn-front-text">NEW DOCUMENT</span></span></button>
    </div>
</div>

