<div class="grid__top-tabs">
    <ul class="top-tabs__list nav-tabs-responsive vertical-menu">
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link active">All</a>
        </li>
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link ">New<span class="notify">22</span></a>
        </li>
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link">Paid<span class="notify">155 265</span></a>
        </li>
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link">Sent<span class="notify">155 265</span></a>
        </li>
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link">Waiting for payment<span class="notify">12</span></a>
        </li>
        <div class="nav-tabs__next">
            <button class="more-btn nav-tabs__next__btn"><i class="menu-vertical"></i></button>
            <ul class="nav-tabs__next__nav"></ul>
        </div>
    </ul>

    <div class="top-tabs__actions actions">
        <button class="btn btn--secondary btn--small-text" data-bs-toggle="modal" data-bs-target="#modalEditColumns"><i class="table-properties"></i>Columns</button>
    </div>
</div>