<div class="grid-wrapper">
    <div class="grid">
        <div class="table-responsive">
            <table class="grid__table">
                <thead class="grid__head">
                <tr class="thead-tr thead-tr--labels">
                    <th class="name active">
                        <a href="" class="sort sort--down selected">Date</a>
                    </th>
                    <th class="name">
                        <a href="">Carrier</a>
                    </th>
                    <th class="name">
                        <a href="">Warehouse</a>
                    </th>
                    <th class="name">
                        <a href="">Tracking number</a>
                    </th>
                    <th class="name">
                        <a href="">Status</a>
                    </th>
                    <th class="name">
                        <a href="">N° Packages</a>
                    </th>
                    <th class="name">
                        <a href="">Label</a>
                    </th>
                    <th class="name">
                        <a href="">Items</a>
                    </th>
                    <th class="name">
                        <a href="">Weight</a>
                    </th>
                    <th class="name th--actions cell--actions">
                        <span>Actions</span>
                    </th>
                </tr>
                </thead>
                <tbody class="grid__body">
                <tr class="tr">
                    <td class="text-center">
                        <span data-bs-toggle="tooltip" title="" class="tooltip-item" data-bs-original-title="22-02-2022 16:32:22">22-02-2022</span>
                    </td>
                    <td class="text-center">
                        DPD
                    </td>
                    <td class="text-center">
                        Centrální sklad
                    </td>
                    <td class="text-center">
                        -
                    </td>
                    <td class="text-center">
                        Created
                    </td>
                    <td class="text-center">
                        2
                    </td>
                    <td class="text-center">
                        <a href="" class="tag-rounded tag-rounded--blue">NEW LABEL</a>
                    </td>
                    <td class="text-center">
                        <span data-bs-toggle="tooltip" title="" class="tooltip-item" data-bs-original-title="blabla">2 <span class="c-notice-darker">/ 4</span></span>
                    </td>
                    <td class="text-center">
                        1,1 Kg
                    </td>
                    <td class="td--actions cell--actions">
                        <div class="action-btns">
                            <button class="action-btn action-btn--edit"><i class="edit"></i></button>
                            <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                        </div>
                    </td>
                </tr>

                <tr class="tr">
                    <td class="text-center">
                        <span data-bs-toggle="tooltip" title="" class="tooltip-item" data-bs-original-title="22-02-2022 16:32:22">22-02-2022</span>
                    </td>
                    <td class="text-center">
                        PPL
                    </td>
                    <td class="text-center">
                        Centrální sklad
                    </td>
                    <td class="text-center">
                        <a href="">209005522</a>
                    </td>
                    <td class="text-center">
                        <span class="tag-rounded tag-rounded--green">Ready</span>
                    </td>
                    <td class="text-center">
                        2
                    </td>
                    <td class="text-center">
                        <a href="" class="tag-rounded tag-rounded--transparent"><i class="read-message fs-16"></i>PRINT</a>
                        <a href="" class="tag-rounded tag-rounded--circle tag-rounded--transparent"><i class="multiply c-red fs-16"></i></a>
                    </td>
                    <td class="text-center">
                        <span data-bs-toggle="tooltip" title="" class="tooltip-item" data-bs-original-title="blabla">4 <span class="c-notice-darker">/ 4</span></span>
                    </td>
                    <td class="text-center">
                        1,1 Kg
                    </td>
                    <td class="td--actions cell--actions">
                        <div class="action-btns">
                            <button class="action-btn action-btn--edit"><i class="edit"></i></button>
                            <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                        </div>
                    </td>
                </tr>

                <tr class="tr">
                    <td class="text-center">
                        <span data-bs-toggle="tooltip" title="" class="tooltip-item" data-bs-original-title="22-02-2022 16:32:22">22-02-2022</span>
                    </td>
                    <td class="text-center">
                        Zásilkovna
                    </td>
                    <td class="text-center">
                        Centrální sklad
                    </td>
                    <td class="text-center">
                        <a href="">209005522</a>
                    </td>
                    <td class="text-center">
                        <span class="tag-rounded tag-rounded--blue">Shipped</span>
                    </td>
                    <td class="text-center">
                        1
                    </td>
                    <td class="text-center">
                        <a href="" class="tag-rounded tag-rounded--transparent"><i class="done"></i> SHIPPED</a>
                        <div class="small c-notice"><i class="schedule"></i> 20.2.2023</div>
                    </td>
                    <td class="text-center">
                        <span data-bs-toggle="tooltip" title="" class="tooltip-item" data-bs-original-title="blabla">2 <span class="c-notice-darker">/ 4</span></span>
                    </td>
                    <td class="text-center">
                        1,1 Kg
                    </td>
                    <td class="td--actions cell--actions">
                        <div class="action-btns">
                            <button class="action-btn action-btn--edit"><i class="edit"></i></button>
                            <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                        </div>
                    </td>
                </tr>

                <tr class="tr">
                    <td class="text-center">
                        <span data-bs-toggle="tooltip" title="" class="tooltip-item" data-bs-original-title="22-02-2022 16:32:22">22-02-2022</span>
                    </td>
                    <td class="text-center">
                        Fulfilment
                    </td>
                    <td class="text-center">
                        Fulfilment
                    </td>
                    <td class="text-center">
                        <a href="">209005522</a>
                    </td>
                    <td class="text-center">
                        <span class="tag-rounded tag-rounded--green">Sent</span>
                    </td>
                    <td class="text-center">
                        1
                    </td>
                    <td class="text-center">
                        <a href="" class="tag-rounded tag-rounded--orange">SEND</a>
                    </td>
                    <td class="text-center">
                        <span data-bs-toggle="tooltip" title="" class="tooltip-item" data-bs-original-title="blabla">2 <span class="c-notice-darker">/ 4</span></span>
                    </td>
                    <td class="text-center">
                        1,1 Kg
                    </td>
                    <td class="td--actions cell--actions">
                        <div class="action-btns">
                            <button class="action-btn action-btn--edit"><i class="edit"></i></button>
                            <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="my-3 d-flex justify-content-end">
        <button class="btn btn--secondary me-2"><i class="read-message"></i>PRINT ALL LABELS</button>
        <button class="btn btn--primary"><span class="btn-front"><span class="btn-front-text">CREATE SHIPMENT</span></span></button>
    </div>
</div>

