<div class="input-wrapper">
    <div class="form-check-input-all">
        <input class="form-check-input" type="checkbox" id="optionAll" value="optionAll">
        <div class="checkbox-options">
            <span class="checkbox-options__btn"></span>
            <ul class="checkbox-options__options">
                <li class="item"><a href="#">Možnost</a></li>
                <li class="item"><a href="#">Další položka</a></li>
                <li class="item"><a href="#">Ještě</a></li>
            </ul>
        </div>
    </div>
</div>