<div class="grid-top">
    <div class="grid-top__left">
        <div class="search-input-alone">
            <button id="" class="search-input-alone__btn"><i class="search"></i></button>
            <input class="search-input-alone__input" type="search" placeholder="Search">
        </div>
    </div>
    <div class="grid-top__actions nav-tabs-responsive vertical-menu">
        <button class="btn btn--primary btn--small-text item"><span class="btn-front"><span class="btn-front-text"><i
                class="save"></i>Save</span></span></button>
        <button class="btn btn--tertiary btn--small-text item"><i class="no-edit"></i>Disable edit</button>
        <button class="btn btn--secondary btn--small-text item"><i class="edit"></i>Edit mode</button>
        <button class="btn btn--secondary btn--small-text item" data-bs-toggle="modal" data-bs-target="#modalEditColumns"><i class="table-properties"></i>Columns</button>
        <button class="btn btn--primary item"><span class="btn-front"><span
                class="btn-front-text">NEW PRODUCT</span></span></button>
        <div class="nav-tabs__next">
            <button class="more-btn nav-tabs__next__btn"><i class="menu-vertical"></i></button>
            <ul class="nav-tabs__next__nav"></ul>
        </div>
    </div>
</div>