<div class="grid-wrapper">

    <div class="grid-top">
        <div class="grid-top__left">
            <div class="search-input-alone">
                <button id="" class="search-input-alone__btn"><i class="search"></i></button>
                <input class="search-input-alone__input" type="search" placeholder="Search order">
            </div>
            <button class="btn btn--dark btn--small-text"><i class="funnel"></i>ADVANCED FILTER<i class="expand-arrow expand-arrow--small"></i></button>
        </div>
        <div class="grid-top__actions">
            <button class="btn btn--primary"><span class="btn-front"><span
                    class="btn-front-text">NEW ORDER</span></span></button>
        </div>
    </div>

    <div class="grid">
        {{> grid__top-tabs--orders}}
        <div class="table-responsive">
            {{> grid__table--orders}}
        </div>
        {{> grid__bottom}}
    </div>
</div>

{{> modal__edit-columns}}