
<table class="grid__table">
    <thead class="grid__head">
    <tr class="thead-tr thead-tr--labels">
        <th></th>
        <th class="name active">
            <a href="" class="selected sort sort--down">Order</a>
        </th>
        <th class="name">
            <a href="">Created</a>
        </th>
        <th class="name text-start">
            <a href="">Customer</a>
        </th>
        <th class="name">
            <a href="">Source</a>
        </th>
        <th class="name">
            <a href="">Status</a>
        </th>
        <th class="name">
            <a href="">Notes</a>
        </th>
        <th class="name">
            <a href="">Delivery</a>
        </th>
        <th class="name">
            <a href="">Payment</a>
        </th>
        <th class="name">
            <a href="">Shipment</a>
        </th>
        <th class="name">
            <a href="">Price</a>
        </th>
        <th class="name">
            <a href="">Language</a>
        </th>
        <th class="th--actions cell--actions"></th>
    </tr>
    <tr class="thead-tr thead-tr--inputs">
        <th class="th--checkbox cell--checkbox">
            {{> grid__check-all-input}}
        </th>
        <th class="active">
            <div class="input-wrapper">
                <input type="text" class="form-control" id="order">
            </div>
        </th>
        <th>
            <div class="input-wrapper">
                <div class="input-icon input-icon--date">
                    <input type="text" class="form-control datepicker-input" id="created">
                </div>
            </div>
        </th>
        <th>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="customer">
            </div>
        </th>
        <th>
            <div class="input-wrapper">
                <select class="form-select2 form-select2--small" id="source">
                    <option selected="">--</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </th>
        <th>
            <div class="input-wrapper">
                <select class="form-select2 form-select2--small" id="status">
                    <option selected="">--</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </th>
        <th>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="notes">
            </div>
        </th>
        <th>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="delivery">
            </div>
        </th>
        <th>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="Payment">
            </div>
        </th>
        <th>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="Shipment">
            </div>
        </th>
        <th>
            <div class="input-wrapper">
                <input type="text" class="form-control" id="Price">
            </div>
        </th>
        <th>
            <div class="input-wrapper">
                <select class="form-select2 form-select2--small" id="language">
                    <option selected="">--</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </th>
        <th class="th--actions cell--actions">
            <div class="filters">
                <button class="filters__btn filters__btn--filter"><i class="funnel"></i><span class="text">Filter</span>
                </button>
                <button class="filters__btn filters__btn--delete"><i class="multiply"></i></button>
                <!-- pokud se buttonům přidá class .active, změní styl -->
            </div>
        </th>
    </tr>
    </thead>
    <tbody class="grid__body">
    <tr class="tr">
        <td class="td--checkbox cell--checkbox">
            <input class="form-check-input product-checkbox" type="checkbox" id="option1" value="option1">
        </td>
        <td>
            <div class="icon-w-value">
                <img class="icon" src="assets/images/icon-green-dot.png" alt="">
                <a href="#"><strong>202253447</strong></a>
            </div>
        </td>
        <td class="text-center">
            <span data-bs-toggle="tooltip" title="22-02-2022 16:32:22" class="tooltip-item">22-02-2022</span>
        </td>
        <td>
            <div class="two-row">
                <div class="icon-w-value">
                    <img class="icon" src="assets/images/icon-user.png" alt="">
                    <span data-bs-toggle="tooltip" title="Nějaký info" class="tooltip-item"><strong>Lojza Levejhák</strong></span>
                </div>
                <div class="icon-w-value">
                    <img class="icon" src="assets/images/icon-sad.png" alt="">
                    <span class="second-row c-notice">lojza@yahoo.com</span>
                </div>
            </div>
        </td>
        <td>
            eshop.com
        </td>
        <td class="text-center">
            <div class="icon-w-value">
                <img class="icon" src="assets/images/icon-green-flag.png" alt="">
                New
            </div>
        </td>
        <td class="text-center">
            <a href="#" class="me-1"><i class="note c-red fs-20"></i></a>
            <a href="#"><i class="note c-blue fs-20"></i></a>
        </td>
        <td class="text-center">
            PPL
        </td>
        <td>
            <div class="icon-w-value">
                <img class="icon" src="assets/images/icon-green-dot.png" alt="">
                <span data-bs-toggle="tooltip" title="Info bla bla" class="tooltip-item">ThePay</span>
            </div>
        </td>
        <td>
            <div class="fs-11"><a href="#" class="c-text">Z225881</a>, <a href="#" class="c-text">P884562</a>, <a href="#" class="c-text">P884562</a>, <button class="btn btn--secondary btn--icon btn--small"><i class="file fs-16"></i></button></div>
        </td>
        <td class="text-end">
            <div class="two-row">
                <span class="first-row">112&nbsp;690&nbsp;Kč</span>
                <span class="second-row c-notice">12&nbsp;690&nbsp;Kč</span>
            </div>
        </td>
        <td class="text-center">
            <img src="assets/images/flag-en.png" alt="">
        </td>
        <td class="td--actions cell--actions">
            <div class="action-btns">
                <button class="action-btn"><i class="file"></i></button>
                <button class="action-btn"><i class="mail"></i></button>
                <button class="action-btn action-btn--edit"><i class="edit"></i></button>
                <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
            </div>
        </td>
    </tr>
    <tr class="tr">
        <td class="td--checkbox cell--checkbox">
            <input class="form-check-input product-checkbox" type="checkbox" id="option1" value="option1">
        </td>
        <td>
            <div class="icon-w-value">
                <img class="icon" src="assets/images/icon-warning-orange.png" alt="">
                <a href="#"><strong>202253447</strong></a>
            </div>
        </td>
        <td class="text-center">
            <span data-bs-toggle="tooltip" title="22-02-2022 16:32:22" class="tooltip-item">22-02-2022</span>
        </td>
        <td>
            <div class="two-row">
                <strong>Lojza Levejhák</strong>
                <span class="second-row c-notice">lojza@yahoo.com</span>
            </div>
        </td>
        <td>
            eshop.com
        </td>
        <td class="text-center bg-orange">
            <div class="icon-w-value">
                <img class="icon" src="assets/images/icon-sand-clock.png" alt="">
                In&nbsp;progress
            </div>
        </td>
        <td class="text-center">
            <a href="#" class="me-1"><i class="note c-red fs-20"></i></a>
        </td>
        <td class="text-center">
            PPL
        </td>
        <td>
            <div class="icon-w-value">
                <img class="icon" src="assets/images/icon-warning-orange.png" alt="">
                <span data-bs-toggle="tooltip" title="Info bla bla" class="tooltip-item">ThePay</span>
            </div>
        </td>
        <td>
            <button class="btn btn--secondary"><i class="file"></i> Add</button>
        </td>
        <td class="text-end">
            <div class="two-row">
                <span class="first-row">112&nbsp;690&nbsp;Kč</span>
                <span class="second-row c-notice">12&nbsp;690&nbsp;Kč</span>
            </div>
        </td>
        <td class="text-center">
            <img src="assets/images/flag-en.png" alt="">
        </td>
        <td class="td--actions cell--actions">
            <div class="action-btns">
                <button class="action-btn"><i class="file"></i></button>
                <button class="action-btn"><i class="mail"></i></button>
                <button class="action-btn action-btn--edit"><i class="edit"></i></button>
                <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
