<div class="grid__top-tabs">
    <ul class="top-tabs__list nav-tabs-responsive vertical-menu">
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link active">All</a>
        </li>
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link">Not in stock<span class="notify">22</span></a>
        </li>
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link">Not displayed<span class="notify">155 265</span></a>
        </li>
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link">To translate<span class="notify">155 265</span></a>
        </li>
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link">Margin <50%</a>
        </li>
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link">Not published</a>
        </li>
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link">Archivated</a>
        </li>
        <li class="top-tabs__item item">
            <a href="#" class="top-tabs__link nav-link">Low stock</a>
        </li>
        <div class="nav-tabs__next">
            <button class="more-btn nav-tabs__next__btn"><i class="menu-vertical"></i></button>
            <ul class="nav-tabs__next__nav"></ul>
        </div>
    </ul>

    <div class="top-tabs__actions actions">
        <button class="btn btn--primary btn--small-text"><span class="btn-front"><span class="btn-front-text"><i  class="save"></i>Save</span></span></button>
        <button class="btn btn--secondary btn--small-text"><i class="edit"></i>Edit mode</button>
        <button class="btn btn--secondary btn--small-text" data-bs-toggle="modal" data-bs-target="#modalEditColumns"><i class="table-properties"></i>Columns</button>
    </div>

</div>