 <div class="grid">
    <div class="table-responsive">
        <table class="grid__table">
            <thead class="grid__head">
            <tr class="thead-tr thead-tr--labels">
                <th class="th--checkbox cell--checkbox">
                    {{> grid__check-all-input}}
                </th>
                <th class="name active mw100">
                    <a href="" class="sort sort--down selected">Quantity <span class="notice">(incl.)</span></a>
                </th>
                <th class="name">
                    <a href="">Discount [%]</a>
                </th>
                <th class="name th--actions cell--actions">
                    <span>Actions</span>
                </th>
            </tr>
            </thead>
            <tbody class="grid__body">
            <tr class="tr">
                <td class="td--checkbox cell--checkbox">
                    <input class="form-check-input product-checkbox" type="checkbox" id="option1" value="option1">
                </td>
                <td class="text-center">
                    10
                </td>
                <td class="text-center">
                    20
                </td>
                <td class="td--actions cell--actions">
                    <div class="action-btns">
                        <button class="action-btn action-btn--edit"><i class="edit"></i></button>
                        <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                    </div>
                </td>
            </tr>
            <tr class="tr">
                <td class="td--checkbox cell--checkbox">
                    <input class="form-check-input product-checkbox" type="checkbox" id="option2" value="option2">
                </td>
                <td class="text-center">
                    50
                </td>
                <td class="text-center">
                    50
                </td>
                <td class="td--actions cell--actions">
                    <div class="action-btns">
                        <button class="action-btn action-btn--edit"><i class="edit"></i></button>
                        <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="grid__bottom row">
    <div class="grid__bottom__left col-xl-4 col-lg-6 col-md-6">
        <div class="selected-items"> <!-- třída .active rozhoduje, jestli bude sekce podbarvená -->
            <div class="row">
                <div class="col">
                    <label class="form-label">Selected items</label>
                    <div>
                        <select class="form-select2 form-select2--small">
                            <option selected="">--</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <label class="form-label">&nbsp;</label>
                    <div>
                        <button class="btn btn--primary" disabled><span class="btn-front"><span class="btn-front-text">PROCEED</span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid__bottom__right col-xl-8 col-lg-6 col-md-6 mb-3 text-end">
        <button class="btn btn--primary"><span class="btn-front"><span class="btn-front-text">ADD DISCOUNT LEVEL</span></span>
        </button>
    </div>

</div>