<div class="dropzone">
    <div class="dropzone__icon">
        <i class="note"></i>
    </div>
    <div class="dropzone__content">
        <div class="title">
            <span>Drop your documents here</span>
        </div>
        <div class="text-w-button">
            <span class="d-inline-block me-sm-3 mb-3 mb-sm-0">or upload files from computer</span>
            <button class="btn btn--light"><span class="btn-front"><span class="btn-front-text">SELECT FILES</span></span></button>
        </div>
    </div>
</div>
