<aside id="mainNav" class="main-nav">
    <header class="main-nav__header">
        <a href="/"><img src="assets/images/jzone-blue-white.svg" alt="jz one logo" class="logo" style="height: 26px;"></a>
        <!--<button class="main-nav__header__button"><i class="cash-register"></i></button>
        <button class="main-nav__header__button"><i class="barcode-reader"></i></button>-->
        <button id="hamMenuBtnMax" class="main-nav__header__button button--hamburger on-maximized"><i
                class="unpin hamburger-open"></i><i class="pin hamburger-close"></i><i class="multiply hamburger-close d-block d-md-none"></i></button>
        <button id="hamMenuBtnMin" class="main-nav__header__button button--hamburger on-minimized">
            <a href="#"><img src="assets/images/jz.svg" alt="malé logo"></a>
            <!--<i class="hamburger-menu hamburger-open"></i><i class="multiply hamburger-close"></i>-->
        </button>
    </header>
    <nav id="mainNav__nav" class="main-nav__nav scrollbared">
        <div class="main-nav__nav__inner">
            <ul>
                <li class="main-nav__nav__item"><a
                        href="#"><span class="notify">1</span><i class="dashboard-layout"></i><span class="name">Dashboard</span></a></li>
                <li class="main-nav__nav__item has-submenu"><span class="notify">95</span><a href="#"><i class="basket"></i><span
                        class="name">Sales</span></a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item has-submenu active">
                            <a href="#"><span class="menu-error-icon">!</span><span
                                class="name">2. Aktivní</span><span class="notify">155 265</span></a>
                            <ul class="sub-menu">
                                <li class="sub-menu__item"><a href="#"><span class="name">Třetí úroveň</span></a></li>
                                <li class="sub-menu__item"><a href="#"><span class="name">Třetí úroveň</span></a></li>
                                <li class="sub-menu__item"><a href="#"><span class="name">Třetí úroveň</span></a></li>
                            </ul></li>
                        <li class="sub-menu__item has-submenu"><a href="#"><span class="name">Categories</span></a>
                            <ul class="sub-menu">
                                <li class="sub-menu__item active"><a href="#"><span class="menu-error-icon">!</span><span class="name">Třetí aktivní</span></a></li>
                            </ul>
                        </li>
                        <li class="sub-menu__item"><a href="#"><span class="name">Parameters</span></a></li>
                        <li class="sub-menu__item"><a href="#"><span class="name">Options</span></a></li>
                        <li class="sub-menu__item"><a href="#"><span class="name">Review</span></a></li>
                        <li class="sub-menu__item"><a href="#"><span class="name">Tags</span></a></li>
                    </ul>
                </li>
                <li class="main-nav__nav__item has-submenu"><a href="#"><i class="extra-features"></i><span
                        class="name">Catalogue</span></a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item"><a href="#"><span class="menu-error-icon">!</span><span class="name">Products</span><span
                                class="notify">155 265</span></a></li>
                        <li class="sub-menu__item"><a href="#"><span class="name">Categories</span></a></li>
                        <li class="sub-menu__item"><a href="#"><span class="name">Parameters</span></a></li>
                        <li class="sub-menu__item"><a href="#"><span class="name">Options</span></a></li>
                        <li class="sub-menu__item"><a href="#"><span class="name">Review</span></a></li>
                        <li class="sub-menu__item"><a href="#"><span class="name">Tags</span></a></li>
                    </ul>
                </li>
                <li class="main-nav__nav__item"><a href="#"><i
                        class="price"></i><span class="name">Pricing</span></a>
                </li>
                <li class="main-nav__nav__item"><a
                        href="#"><i class="package"></i><span class="name">Stock</span></a>
                </li>
                <li class="main-nav__nav__item"><a
                        href="#"><i class="commercial"></i><span
                        class="name">Marketing</span></a></li>
                <li class="main-nav__nav__item"><a
                        href="#"><i class="repository"></i><span
                        class="name">Directory</span></a></li>
                <li class="main-nav__nav__item"><a
                        href="#"><i class="marketing"></i><span
                        class="name">Reports</span></a></li>
                <li class="main-nav__nav__item"><a href="#"><i
                        class="bot"></i><span class="name">Automation</span></a>
                </li>
                <li class="main-nav__nav__item"><a href="#"><i
                        class="plugin"></i><span class="name">Plug-ins</span></a>
                </li>
                <li class="main-nav__nav__item"></a><a
                        href="#"><i class="online-store"></i><span class="name">Sales channels</span></a>
                </li>
                <li class="main-nav__nav__item"><a href="#"><span
                        class="menu-error-icon">!</span><i
                        class="file"></i><span
                        class="name">File Manager</span></a></li>
                <li class="main-nav__nav__item"><a href="#"><i
                        class="system-administrator-male"></i><span class="name">Client account</span></a>
                </li>
                <li class="main-nav__nav__item"><a href="#"><i class="settings"></i><span class="name">Settings</span></a></li>
                <li class="main-nav__nav__item"><a href="#"><i class="lifebuoy"></i><span class="name">Help</span></a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
