<aside id="mainNav" class="main-nav">
    <header class="main-nav__header">
        <img src="assets/images/jz-one_blue-white.svg" alt="" class="logo">
        <button class="main-nav__header__button"><i class="cash-register"></i></button>
        <button class="main-nav__header__button"><i class="barcode-reader"></i></button>
        <button id="hamMenuBtnMax" class="main-nav__header__button button--hamburger on-maximized"><i
                class="hamburger-menu hamburger-open"></i><i class="multiply hamburger-close"></i></button>
        <button id="hamMenuBtnMin" class="main-nav__header__button button--hamburger on-minimized"><i
                class="hamburger-menu hamburger-open"></i><i class="multiply hamburger-close"></i></button>
    </header>
    <nav id="mainNav__nav" class="main-nav__nav scrollbared">
        <div class="main-nav__nav__inner">
            <ul>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i class="dashboard-layout"></i></a><a
                        href=""><i class="dashboard-layout"></i><span class="name">Dashboard</span></a></li>
                <li class="main-nav__nav__item has-submenu"><a href="#" class="on-minimized"><i
                        class="basket"></i></a><a href="#"><i class="basket"></i><span
                        class="name">Sales</span></a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item active"><a href=""><span class="name">Products</span></a><span
                                class="notify">155 265</span></li>
                        <li class="sub-menu__item"><a href=""><span class="name">Categories</span></a></li>
                        <li class="sub-menu__item"><a href=""><span class="name">Parameters</span></a></li>
                        <li class="sub-menu__item"><a href=""><span class="name">Options</span></a></li>
                        <li class="sub-menu__item"><a href=""><span class="name">Review</span></a></li>
                        <li class="sub-menu__item"><a href=""><span class="name">Tags</span></a></li>
                    </ul>
                </li>
                <li class="main-nav__nav__item has-submenu"><a href="#" class="on-minimized"><i
                        class="extra-features"></i></a><a href="#"><i class="extra-features"></i><span
                        class="name">Catalogue</span></a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item"><a href=""><span class="name">Products</span></a><span
                                class="notify">155 265</span></li>
                        <li class="sub-menu__item"><a href=""><span class="name">Categories</span></a></li>
                        <li class="sub-menu__item"><a href=""><span class="name">Parameters</span></a></li>
                        <li class="sub-menu__item"><a href=""><span class="name">Options</span></a></li>
                        <li class="sub-menu__item"><a href=""><span class="name">Review</span></a></li>
                        <li class="sub-menu__item"><a href=""><span class="name">Tags</span></a></li>
                    </ul>
                </li>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i class="price"></i></a><a href=""><i
                        class="price"></i><span class="name">Pricing</span></a>
                </li>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i class="package"></i></a><a
                        href=""><i class="package"></i><span class="name">Stock</span></a>
                </li>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i class="commercial"></i></a><a
                        href=""><i class="commercial"></i><span
                        class="name">Marketing</span></a></li>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i class="repository"></i></a><a
                        href=""><i class="repository"></i><span
                        class="name">Directory</span></a></li>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i class="marketing"></i></a><a
                        href=""><i class="marketing"></i><span
                        class="name">Reports</span></a></li>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i class="bot"></i></a><a href=""><i
                        class="bot"></i><span class="name">Automation</span></a>
                </li>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i class="plugin"></i></a><a href=""><i
                        class="plugin"></i><span class="name">Plug-ins</span></a>
                </li>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i class="online-store"></i></a><a
                        href=""><i class="online-store"></i><span class="name">Sales channels</span></a>
                </li>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i class="file"></i></a><a href=""><i
                        class="file"></i><span
                        class="name">File Manager</span></a></li>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i
                        class="system-administrator-male"></i></a><a href=""><i
                        class="system-administrator-male"></i><span class="name">Client account</span></a>
                </li>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i class="settings"></i></a><a
                        href="#"><i class="settings"></i><span
                        class="name">Settings</span></a></li>
                <li class="main-nav__nav__item"><a href="#" class="on-minimized"><i class="lifebuoy"></i></a><a
                        href="#"><i class="lifebuoy"></i><span class="name">Help</span></a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
