<div class="paging">
    <div class="paging__items">Items 26 - 50 of <span class="total">65 875</span></div>
    <span class="separator-line">|</span>
    <div class="paging__onpage">
        <span class="text">On page</span>
        <select class="form-select2 form-select2--small autowidth" id="paging">
            <option selected="">50</option>
            <option value="1">100</option>
            <option value="2">150</option>
            <option value="3">200</option>
        </select>
    </div>
</div>
