<div class="pagination">
    <a href="" class="pagination__btn pagination__btn--double-prev"><i class="double-left"></i></a>
    <a href="" class="pagination__btn pagination__btn--prev"><i class="less-than"></i></a>
    <label for="paginationInput" class="pagination__label">Page</label>
    <input type="text" class="form-control pagination__input" value="2776" id="paginationInput">
    <span class="pagination__from">/ 3488</span>
    <a href="" class="pagination__btn pagination__btn--next"><i class="forward"></i></a>
    <a href="" class="pagination__btn pagination__btn--double-next"><i class="double-right"></i></a>
</div>
