<div class="plugins">
    <div class="item">
        <div class="item__image">
            <img class="img" src="assets/images/samples/heureka-logo.png" alt="">
        </div>
        <div class="content">
            <div class="title">Heuréka</div>
            <div class="desc">Price comparison portal.</div>
            <div class="action">
                <a href="" class="btn btn--light"><span class="btn-front"><span
                        class="btn-front-text">INSTALL</span></span></a>
            </div>
        </div>
    </div>

    <a class="item item--installed item--has-tag" href="#">
            <div class="item__image">
                <img class="img" src="assets/images/samples/zbozi-logo.png" alt="">
            </div>
            <div class="content">
                <div class="title">Zboží</div>
                <div class="desc">Price comparison portal.</div>
                <div class="action">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="zbozi">
                        <label class="switch-text" for="zbozi">Inactive</label>
                    </div>
                </div>
            </div>
        <div class="tag">superpouzdra.cz</div>
    </a>

    <a class="item item--installed item--has-tag" href="#">
        <div class="item__image">
            <img class="img" src="assets/images/samples/zbozi-logo.png" alt="">
        </div>
        <div class="content">
            <div class="title">Zboží</div>
            <div class="desc">Price comparison portal.</div>
            <div class="action">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="zbozi2" checked>
                    <label class="switch-text" for="zbozi2">Active</label>
                </div>
            </div>
            <span class="notify">!</span>
        </div>
        <div class="tag">Alza.cz</div>
    </a>

    <div class="item">
        <div class="item__image">
            <img class="img" src="assets/images/samples/pokladna.png" alt="">
        </div>
        <div class="content">
            <div class="title">Point of Sale</div>
            <div class="desc">Online app for store.</div>
            <div class="action">
                <a href="" class="btn btn--light"><span class="btn-front"><span
                        class="btn-front-text">INSTALL</span></span></a>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="item__image">
            <img class="img" src="assets/images/samples/pokladna.png" alt="">
        </div>
        <div class="content">
            <div class="title">Point of Sale</div>
            <div class="desc">Online app for store.</div>
            <div class="action">
                <a href="" class="btn btn--light"><span class="btn-front"><span
                        class="btn-front-text">INSTALL</span></span></a>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="item__image">
            <img class="img" src="assets/images/samples/heureka-logo.png" alt="">
        </div>
        <div class="content">
            <div class="title">Heuréka</div>
            <div class="desc">Price comparison portal.</div>
            <div class="action">
               <div class="paid">
                   <div class="paid__info">Paid</div>
                   <a href="" class="btn btn--secondary"><i class="right-arrow"></i>see more</a>
               </div>
            </div>
        </div>
    </div>

    <a class="item item--installed item--has-tag" href="#">
        <div class="item__image">
            <img class="img" src="assets/images/samples/zbozi-logo.png" alt="">
        </div>
        <div class="content">
            <div class="title">Zboží</div>
            <div class="desc">Price comparison portal.</div>
            <div class="action">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="zbozi3">
                    <label class="switch-text" for="zbozi3">Inactive</label>
                </div>
            </div>
        </div>
        <div class="tag">superpouzdra.cz</div>
    </a>

    <div class="item item--has-tag">
        <div class="item__image">
            <img class="img" src="assets/images/samples/zbozi-logo.png" alt="">
        </div>
        <div class="content">
            <div class="title">Zboží - delší název</div>
            <div class="desc">Price comparison portal.</div>
            <div class="action">
                <div class="paid">
                    <div class="paid__info">Zpoplatněno</div>
                    <a href="" class="btn btn--secondary"><i class="right-arrow"></i>see more</a>
                </div>
            </div>
            <span class="notify">!</span>
        </div>
        <div class="tag">Alza.cz</div>
    </div>

</div>