<div class="table-responsive">
    <table class="price-table" width="100%">
        <thead>
        <tr>
            <th></th>
            <th class="text-center">Fixed price</th>
            <th class="text-center">Sale price</th>
            <th class="text-center">Markup</th>
            <th class="text-center">Discount</th>
            <th class="text-end">Final sale price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-end fw-bold minw-150">
                E-shop price list
            </td>
            <td class="text-center minw-100">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" checked="">
                </div>
            </td>
            <td class="text-center minw-200">
                <div class="input-group">
                    <input type="text" class="form-control" value="299,00">
                    <span class="input-group-text">Kč inc. VAT</span>
                </div>
            </td>
            <td class="text-center minw-200">
                <div class="input-group">
                    <input type="text" class="form-control" value="+299,000">
                    <span class="input-group-text">%</span>
                </div>
            </td>
            <td class="text-center minw-200 td-w-button">
                <div class="input-group input-group--percent">
                    <input type="text" class="form-control" value="10,00" disabled>
                    <span class="input-group-text">%</span>
                    <button class="btn btn--in-input-group"><i class="headline"></i></button>
                </div>
            </td>
            <td class="text-end td--price ws-nowrap">
                <div class="td--price__price">289,00 Kč</div>
                <div class="td--price__under-price">(+299 Kč)</div>
            </td>
        </tr>

        <tr>
            <td class="text-end fw-bold minw-150">
                Alza price list
            </td>
            <td class="text-center minw-100">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox">
                </div>
            </td>
            <td class="text-center minw-200">
                <div class="input-group">
                    <input type="text" class="form-control" value="10,99" disabled>
                    <span class="input-group-text">€ exc. VAT</span>
                </div>
            </td>
            <td class="text-center minw-200">
                <div class="input-group">
                    <input type="text" class="form-control" value="-5,535" disabled>
                    <span class="input-group-text">%</span>
                </div>
            </td>
            <td class="text-center minw-200">
                <div class="input-group input-group--percent">
                    <input type="text" class="form-control" value="0,00">
                    <span class="input-group-text">%</span>
                </div>
            </td>
            <td class="text-end td--price ws-nowrap">
                <div class="td--price__price">10,99 €</div>
                <div class="td--price__under-price">(+299 Kč)</div>
            </td>
        </tr>

        <tr>
            <td class="text-end fw-bold minw-150">
                E-shop price list
            </td>
            <td class="text-center minw-100">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" checked="">
                </div>
            </td>
            <td class="text-center minw-200">
                <div class="input-group">
                    <input type="text" class="form-control" value="299,00">
                    <span class="input-group-text">Kč inc. VAT</span>
                </div>
            </td>
            <td class="text-center minw-200">
                <div class="input-group">
                    <input type="text" class="form-control" value="+299,000">
                    <span class="input-group-text">%</span>
                </div>
            </td>
            <td class="text-center minw-200">
                <div class="input-group input-group--percent">
                    <input type="text" class="form-control" value="10,00" disabled>
                    <span class="input-group-text">%</span>
                </div>
            </td>
            <td class="text-end td--price ws-nowrap">
                <div class="td--price__price">289,00 Kč</div>
                <div class="td--price__under-price">(+299 Kč)</div>
            </td>
        </tr>

        <tr>
            <td class="text-end fw-bold minw-150">
                Alza price list
            </td>
            <td class="text-center minw-100">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox">
                </div>
            </td>
            <td class="text-center minw-200">
                <div class="input-group">
                    <input type="text" class="form-control" value="10,99" disabled>
                    <span class="input-group-text">€ exc. VAT</span>
                </div>
            </td>
            <td class="text-center minw-200">
                <div class="input-group">
                    <input type="text" class="form-control" value="-5,535" disabled>
                    <span class="input-group-text">%</span>
                </div>
            </td>
            <td class="text-center minw-200">
                <div class="input-group input-group--percent">
                    <input type="text" class="form-control" value="0,00">
                    <span class="input-group-text">%</span>
                </div>
            </td>
            <td class="text-end td--price ws-nowrap">
                <div class="td--price__price">10,99 €</div>
                <div class="td--price__under-price">(+299 Kč)</div>
            </td>
        </tr>

        </tbody>
    </table>
</div>
