<header id="topBar" class="top-bar">

    <div class="hamburger-menu-mobile">
        <button id="mobileButtonHamburger" class="button--hamburger">
            <i class="hamburger-menu hamburger-open"></i>
        </button>
    </div>

    <div class="top-bar__left">
        {{> top-bar__show-frontend}}
    </div>

    <div class="top-bar__right">
        {{> top-bar__add}}
        {{> top-bar__search}}
        {{> top-bar__notifications}}
        {{> top-bar__user}}
        {{> top-bar__full-screen}}
    </div>
</header>
