<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#deliveryDetailsBody">
                <span class="accordion-button__text">Delivery details</span>
            </button>
            <div class="accordion-header__right">
                <div class="accordion-icons">
                    <button class="accordion-icon accordion-icon--edit"><i class="edit"></i></button>
                    <button class="accordion-icon accordion-icon--pinned"><i class="pin"></i></button>
                </div>
            </div>
        </h2>
        <div id="deliveryDetailsBody" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="rp-customer-details">
                    <table class="mb-2">
                        <tbody>
                        <tr>
                            <td><i class="marketing"></i></td>
                            <td class="fw-medium"><strong>Název firmy</strong><br>V Ulici 15/2,<br>1100 00 Praha<br>IČ: 7445598<br>DIČ: CZ7445598</td>
                        </tr>
                        </tbody>
                    </table>

                    <img src="https://dummyimage.com/256x160/333/fff" alt="google mapa">

                    <table class="mt-2">
                        <tbody>
                        <tr>
                            <td></td>
                            <td><a href="#" class="fs-12">Open in Google maps</a><i class="external-link fs-14 ms-2"></i></td>
                        </tr>
                        <tr>
                            <td><i class="mail"></i></td>
                            <td><a class="u-link c-inherit" href="mailto:jardavohnout@yahoo.com">jardavohnout@yahoo.com</a></td>
                        </tr>
                        <tr>
                            <td><i class="phone"></i></td>
                            <td><span><a href="tel:+420608123456">+420 <span class="fw-bold">608 123 456</span></a></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
