<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#textSetBody">
                <span class="accordion-button__text">Text sets</span>
            </button>
        </h2>
        <div id="textSetBody" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="rp-text-sets">
                    <div class="switches-group">
                        <span class="fw-bold d-inline-block mb-1">Available product text sets</span>
                        <div class="ms-2">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="czweb" checked="">
                                <label class="switch-text" for="czweb"><img src="assets/images/flag-cs.png" alt=""> CZ-Web</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="czalz" checked="">
                                <label class="switch-text" for="czalz"><img src="assets/images/flag-cs.png" alt=""> CZ-Alza.cz</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="encom" checked="">
                                <label class="switch-text" for="encom"><img src="assets/images/flag-en.png" alt=""> EN-COM</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="enb2b" checked="">
                                <label class="switch-text" for="enb2b"><img src="assets/images/flag-en.png" alt=""> EN-B2B</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
