<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#tagsBody">
                <span class="accordion-button__text">Tags</span>
            </button>
        </h2>
        <div id="tagsBody" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="rp-tags-section">
                    <div class="search-input mb-2 pb-1">
                        <select class="form-select2-tags" name="tags[]">
                            <option selected="selected">Search or create tag</option>
                            <option>Sleva</option>
                            <option>Další možnost</option>
                            <option>Ještě jedna</option>
                        </select>
                    </div>
                    <div class="rp-tags">
                        <div class="tag-wrapper">
                            <div class="tag">
                                <span class="text">Doporučujeme</span>
                                <button class="delete"><i class="multiply-2"></i></button>
                            </div>
                            <button class="tag-icon tag-icon--schedule"><i class="schedule"></i></button>
                        </div>
                        <div class="tag-wrapper">
                            <div class="tag">
                                <span class="text">Akce</span>
                                <button class="delete"><i class="multiply-2"></i></button>
                            </div>
                            <button class="tag-icon tag-icon--edit-calendar"><i class="edit-calendar"></i></button>
                        </div>
                        <div class="scheduled-text"><span>Scheduled form March 10, 2022, 3:00</span></div>
                        <div class="tag-wrapper">
                            <div class="tag">
                                <span class="text">Dárek zdarma</span>
                                <button class="delete"><i class="multiply-2"></i></button>
                            </div>
                            <button class="tag-icon tag-icon--schedule"><i class="schedule"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
