<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#orderDetailsBody">
                <span class="accordion-button__text">Order details</span>
            </button>
            <div class="accordion-header__right">
                <div class="accordion-icons">
                    <button class="accordion-icon accordion-icon--edit"><i class="edit"></i></button>
                    <button class="accordion-icon accordion-icon--unpinned"><i class="unpin"></i></button>
                </div>
            </div>
        </h2>
        <div id="orderDetailsBody" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="rp-order-details">
                    <table class="order-details order-details--highlighted mb-3">
                        <tr>
                            <td>Profit</td>
                            <td>152 286,60 Kč</td>
                        </tr>
                        <tr>
                            <td>Costs</td>
                            <td>11 286,60 Kč</td>
                        </tr>
                        <tr>
                            <td>To invoice</td>
                            <td>2 255 586,60 Kč</td>
                        </tr>
                        <tr>
                            <td>Invoiced</td>
                            <td>0 Kč</td>
                        </tr>
                    </table>

                    <table class="order-details">
                        <tr>
                            <td>Price list</td>
                            <td>Maloobchodní CZK</td>
                        </tr>
                        <tr>
                            <td>Exchange rate</td>
                            <td>24 CZK / 1 €</td>
                        </tr>
                        <tr>
                            <td>VAT</td>
                            <td>Standard charge</td>
                        </tr>
                        <tr>
                            <td>Source</td>
                            <td><div class="d-flex align-items-center"><img class="flag me-2" src="assets/images/flag-en.png" alt="">DE-SHOP</div></td>
                        </tr>
                        <tr>
                            <td>Referrer</td>
                            <td>https://search.seznam.cz/</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
