<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#customerOrdersBody">
                <span class="accordion-button__text">Customer orders</span>
            </button>
            <div class="accordion-header__right">
                <div class="accordion-icons">
                    <button class="accordion-icon accordion-icon--pinned"><i class="pin"></i></button>
                </div>
            </div>
        </h2>
        <div id="customerOrdersBody" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="rp-customer-orders">
                    <table class="customer-orders">
                        <tbody>
                        <tr>
                            <td><img class="flag-icon" src="assets/images/icon-green-flag.png" alt=""></td>
                            <td><img class="status-icon" src="assets/images/icon-green-dot.png" alt=""></td>
                            <td class="c-notice-darker">25.4.2019 20:36</td>
                            <td class="fw-bold"><a href="">2022582223</a></td>
                        </tr>
                        <tr>
                            <td><i class="empty-hourglass fs-14 c-orange"></i></td>
                            <td><img class="status-icon" src="assets/images/icon-orange-dot.png" alt=""></td>
                            <td class="c-notice-darker">25.4.2019 20:36</td>
                            <td class="fw-bold"><a href="">2022582223</a></td>
                        </tr>
                        <tr>
                            <td><img class="flag-icon" src="assets/images/icon-green-flag.png" alt=""></td>
                            <td><img class="status-icon" src="assets/images/icon-red-dot.png" alt=""></td>
                            <td class="c-notice-darker">25.4.2019 20:36</td>
                            <td class="fw-bold"><a href="">2022582223</a></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn--white">SHOW MORE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
