<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#tasksBody">
                <span class="accordion-button__text">Tasks</span>
            </button>
        </h2>
        <div id="tasksBody" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="rp-tasks-section">
                    <div class="rp-tasks">
                        <div class="rp-tasks__item">
                            <div class="rp-tasks__item__left">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="task1" checked="">
                                    <label class="switch-text" for="task1">25.4.2019 | <strong>Jenda</strong></label>
                                </div>
                                <div class="description">Přepsat popis a nastavit cenu dle nákupní ceny z ceníku.</div>
                            </div>
                            <button class="close"><i class="multiply-2"></i></button>
                        </div>

                        <div class="rp-tasks__item rp-tasks__item--unchecked">
                            <div class="rp-tasks__item__left">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="task2">
                                    <label class="switch-text" for="task2">25.4.2019 | <strong>Jenda</strong></label>
                                </div>
                                <div class="description">Přepsat popis a nastavit cenu dle nákupní ceny z ceníku.</div>
                            </div>
                            <button class="close"><i class="multiply-2"></i></button>
                        </div>

                        <div class="add-input-wrapper">
                            <input type="text" class="form-control" id="add_task" placeholder="Add new task">
                            <a href="#" class="btn btn--add">+</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
