.breadcrumb {
  margin: 0;
  color: var(--c-headings);
  font-size: 14px;

  &__item {

    &:not(:last-child) {
      margin-right: 10px;

      &:after {
        @include one-icon();
        content: $icons8-var-forward;
        font-size: 10px;
        color: var(--c-headings);
        font-weight: bold;
        margin-left: 10px;
        position: relative;
        top: -1px;
      }
    }

    &.inactive {
      color: #93a4bc;
    }
  }

  &__link {
    padding: 4px 0;
    color: var(--c-headings);

    &.active {
      padding-right: 10px;
      padding-left: 10px;
      border-radius: 5px;
      border: 1px solid #bcdbfa;
      background-color: #d8e4ec;
    }

    &.inactive {
      color: #93a4bc;
    }
  }
}

.page-breadcrumbs {
  font-size: 12px;
  margin-bottom: 10px;

  ul {
    display: flex;

    li {
      color: #5D7483;
      i {
        margin-right: 4px;
      }
      a {
        color: #2C4364;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      &:not(:last-child) {
        margin-right: 8px;

        &:after {
          @include one-icon();
          content: $icons8-var-right-arrow;
          font-size: 12px;
          color: var(--c-headings);
          font-weight: bold;
          margin-left: 8px;
        }
      }

      @include media-breakpoint-down(md) {
        &:not(:nth-last-child(-n+2)) {
          display: none;
        }
      }

      @include media-breakpoint-down(sm) {
        &:not(:nth-last-child(2)) {
          display: none;
        }

        &:after {
          display: none !important;
        }

        &:before {
          @include one-icon();
          content: $icons8-var-left-arrow;
          font-size: 12px;
          color: var(--c-headings);
          font-weight: bold;
          margin-right: 8px;
        }
      }
    }
  }
}