.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  padding: 0;
  white-space: nowrap;
  font-size: 12px;
  transition: 0.2s;

  &:active,
  &:focus {
    box-shadow: none !important;
    outline: 0 !important;
  }

  i {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
    top: -1px;
    line-height: 0;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }

    &.expand-arrow {
      font-size: 16px;
      margin-right: 0;
      margin-left: 7px;
      top: 1px;

      &:before {
        font-weight: bold;
      }

      &--small {
        font-size: 10px;
      }
    }
  }

  .top-bar &,
  .grid-wrapper &,
  .grid &,
  .grid__bottom & {
    //font-size: 10px;
  }

  .btn-front {
    border-radius: 20px;
    display: block;
    padding: 8px 15px;
    transform: translateY(-1px);
    position: relative;
    //transition: 0.2s;
  }

  .btn-front-text {
    position: relative;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--action {
    background-color: #d2e7fc;
    color: var(--c-headings);
  }

  &--primary {
    background: linear-gradient(to left, #2768D0, #2768D0);
    border-radius: 20px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .2);

    &:hover {
      text-decoration: none;
      color: #ffffff;
      box-shadow: 0 5px 25px -5px rgba(0, 0, 0, .3);
      //background: linear-gradient(to left, var(--c-primary), var(--c-primary));
    }

    &:active {
      color: #fff !important;
      border-color: #2F72DD !important;
      .btn-front {
        background: #2f72dd;
      }

    }

    .btn-front {
      background: transparent linear-gradient(52deg, #258AEF 0%, #2F72DD 100%);
    }

    &.btn--inactive,
    &:disabled {
      background: #dfe7ed;
      color: #abb4c0;

      &:hover {
        box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .2);
      }

      .btn-front {
        background: #edf3f7;
      }
    }
  }

  &--secondary {
    //background-color: #f7fafc;
    background-color: transparent;
    border-radius: 20px;
    padding: 9px 15px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #263c5d;

    &:hover {
      background-color: #e2e9ee;
      text-decoration: none;
      color: #263c5d;

      .right-panel &,
      .modal-header & {
        background-color: #d6e2ea;
      }
    }

    &:active {
      background-color: #c0d2de !important;
      border-color: #c0d2de !important;
    }

    &.btn--inactive,
    &:disabled {
      background-color: #f7fafc;
      color: #abb4c0;
    }

    &--dark-hover {
      &:hover {
        background-color: #ddd;
      }
    }

    i.expand-arrow {
      font-size: 12px;
      margin-top: -4px;
    }
  }

  &--tertiary {
    background-color: #e4682b;
    border-radius: 20px;
    padding: 9px 15px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;

    &:hover {
      background-color: #dd5c2f;
      text-decoration: none;
      color: #ffffff;
    }

    &:active {
      background-color: #ef7b25 !important;
      border-color: #fff !important;
      color: #fff !important;
    }


    &.btn--inactive,
    &:disabled {
      background-color: #f7fafc;
      color: #abb4c0;
    }
  }

  &--dark {
    background-color: #304c74;
    border-radius: 20px;
    padding: 9px 15px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;

    &:hover {
      background-color: #304c74;
      text-decoration: none;
      color: #ffffff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      background-color: var(--c-headings);
    }

    &.btn--inactive,
    &:disabled {
      background-color: #e6e6e6;
      color: #b4b4b4;
      box-shadow: none;
    }
  }

  &--w-icon {
    padding-left: 15px;
  }

  &--light {
    background-color: #cedde7;
    border-radius: 20px;
    padding: 0;
    font-weight: $fw-medium;
    color: var(--c-headings);
    height: 36px;
    //box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #cedde7;
      text-decoration: none;
      color: var(--c-headings);
      box-shadow: 0 2px 10px rgba(0,0,0,.1);

      .btn-front {
        //background: #ffffff;
      }
    }

    &:active {
      background: #cedde7 !important;
      border-color: #cedde7 !important;
      color: var(--c-headings) !important;
      .btn-front {
        background: #cedde7;
      }
    }

    .btn-front {
      padding: 8px 15px 8px;
      background: #edf3f7;
    }

    &.btn--inactive,
    &:disabled {
      background-color: #e6e6e6;
      color: #b4b4b4;

      &:hover {
        box-shadow: none;
      }
    }
  }

  &--delete {
    background-color: #ffffff;
    border: 1px solid #d72020;
    border-radius: 20px;
    padding: 9px 15px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #d72020;
    height: 36px;

    &:hover {
      background-color: #fff2f2;
      text-decoration: none;
      color: #d72020;
      border-color: #d72020;
    }

    &:active {
      background-color: #f9d0d0 !important;
      border-color: #d72020 !important;
      color: #d72020 !important;
    }

    &.btn--inactive,
    &:disabled {
      background-color: #f3f3f3;
      color: #b4b4b4;
      box-shadow: none;
      border-color: #dbdbdb;
    }
  }

  &--grey {
    background-color: #d8e4ec;
    border-radius: 20px;
    padding: 9px 15px 7px;
    font-size: 12px;
    font-weight: bold;
    color: #263c5d;

    &:hover {
      background-color: #ddd;
      text-decoration: none;
      color: #263c5d;
    }

    &:active {
      background-color: darken(#d8e4ec,10%) !important;
      border-color:  darken(#d8e4ec,10%) !important;
      color: #263c5d !important;
    }

    &.btn--inactive,
    &:disabled {
      background-color: #f3f3f3;
      color: #abb4c0;
    }
  }

  &--small-text {
    font-size: 10px;

    &:not(.btn--primary) {
      //font-size: 11px;
      padding-right: 15px;
      padding-left: 12px;
      padding-top: 7px;
      padding-bottom: 7px;
    }

    i {
      margin-right: 5px;
      top: -1px;
      font-size: 16px;
    }

    .btn-front {
      padding-right: 12px;
      padding-left: 12px;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  &--add {
    width: 17px;
    height: 17px;
    color: #ffffff;
    background-color: #4caf50;
    border-radius: 50%;

    &:hover {
      color: #ffffff;
      background-color: darken(#4caf50, 10%);
      text-decoration: none;
    }
  }

  &--white {
    border-radius: 20px;
    font-size: 12px;
    font-weight: $fw-bold;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 8px 12px 6px;
    color: #263c5d;

    &:hover {
      background-color: #e2e9ee;
    }

    &:active {
      background-color: darken(#d8e4ec,10%) !important;
      border-color:  darken(#d8e4ec,10%) !important;
      color: #263c5d !important;
    }

    &.btn--inactive,
    &:disabled {
      background-color: #f3f3f3;
      color: #abb4c0;
      box-shadow: none;
    }
  }

  &--close {
    color: #c82424;
    padding: 7px;
    font-size: 20px;

    &:hover {
      background-color: #e2e9ee;
      color: #c82424;
    }

    &.btn--icon {
      i {
        font-size: 16px;
        position: relative;
        top: 1px;
      }
    }
  }

  &--icon {
    i {
      margin: 0;
    }
  }

  &--circle {
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    width: 45px;
    height: 45px;
    border-radius: 50%;

    &:hover {
      background-color: #e2e9ee;
    }

    i {
      font-size: 22px;
    }
  }

  &--in-input-group {
    position: absolute !important;
    right: -35px;
    transform: translateY(-50%);
    top: 50%;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #d7e3ec;
    }

    i {
      margin: 0;
    }
  }

  &--small {
    padding: 5px;
  }

  &--mobile-icon-only {
    @include media-breakpoint-down(sm) {
      font-size: 0;
      padding: 8px;

      i {
        margin: 0;
      }
    }
  }

  &--expanding {
    position: relative;
    .expanding-list {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      text-align: left;
      background-color: #ffffff;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #d9e1ea;
      z-index: 12;
      min-width: 150px;
      box-shadow: 0 0 5px rgba(0, 0, 0, .1);
      overflow: hidden;
      margin-top: 5px;

      li {
        padding: 5px;
        &:not(:last-child) {
          margin-bottom: 5px;
          border-bottom: 1px solid #d9e1ea;
        }

        a {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &--close-modal {
    @include media-breakpoint-down(md) {
      border-radius: 0;
      font-size: 0;
      padding-left: 8px;
      padding-right: 8px;
      i {
        margin: 0;
      }
    }

    i {
      &:before {
        font-weight: bold;
      }
    }
  }

  &.dropdown-toggle {
    &:active {
      background-color: #edf3f7 !important;
      border-color: #d9e1ea !important;
    }
  }

}
