.c-success {
  color: var(--c-succes);
}

.c-danger {
  color: var(--c-danger);
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.u-link {
  color: #258aef;
  text-decoration: underline;

  &:hover {
    color: #258aef;
    text-decoration: none;
  }
}

.xs-full-width {
  @include media-breakpoint-down(sm) {
    width: 100%;
    &.autowidth + .select2-container {
      width: 100% !important;
    }
  }
}

.stock-list {
  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: center;
  }
}