.main-nav {
  width: var(--main-nav-width);
  display: flex;
  flex-shrink: 0;
  height: 100vh;
  flex-direction: column;
  background-color: var(--c-headings);
  z-index: 12;
  transition: .3s;

  @include media-breakpoint-up(md) {
    transition: none !important;
  }

  @include media-breakpoint-between(md, xl) {
    &:not(.minimized) {
      position: absolute;
    }
  }
  @include media-breakpoint-down(md) {
    //display: none;
    position: fixed;
    left: calc(-1 * var(--main-nav-width));

    &.mobile-opened {
      left: 0;
      @include box-shadow-black;

      + .main-content-wrapper {
        &:after {
          z-index: 11;
          opacity: 1;
        }
      }
    }
  }

  &.maximized {
    width: var(--main-nav-width) !important;
    min-width: var(--main-nav-width) !important;
    flex-shrink: 0;
    @include media-breakpoint-between(md, xl) {
      position: static;

      &.locked  + .main-content-wrapper {
        position: static;
      }
    }
  }

  &.minimized:not(.maximized) {
    @include media-breakpoint-up(md) {
      width: var(--main-nav-minim-width);
      min-width: var(--main-nav-minim-width);
      flex-shrink: 0;
    }
  }

  &__header {
    background-color: #213655;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--top-bar-height);
    padding: 13px 25px;
    z-index: 1;
    position: fixed;
    width: var(--main-nav-width);
    @include media-breakpoint-up(md) {
      transition: none !important;
    }

    .minimized:not(.maximized) & {

      @include media-breakpoint-up(md) {
        width: var(--main-nav-minim-width);
        justify-content: center;
        padding-right: 15px;
        padding-left: 15px;

        > *:not(.button--hamburger) {
          display: none;
        }
      }
    }

    .logo {
      margin-right: 15px;
    }

    #hamMenuBtnMax {
      position: absolute;
      right: 5px;
    }

    &__button {
      background: none;
      border: 0;
      border-radius: 5px;
      color: #ffffff;
      height: 35px;
      width: 35px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: var(--c-headings);
      }

      &:not(:last-child) {
        margin-right: 5px;
      }

      &.on-minimized {
        display: none;

        .main-nav.minimized:not(.maximized) & {
          display: block;
        }
      }

      &.on-maximized {
        .main-nav.minimized:not(.maximized) & {
          display: none;
        }
      }

      &.active {
        .hamburger-open {
          display: none;
        }

        .hamburger-close {
          display: block;
        }
      }

      i {
        font-size: 20px;
      }

      .hamburger-open {
        @include media-breakpoint-down(md) {
          display: none;
        }
      }

      .hamburger-close {
        display: none;
        @include media-breakpoint-down(md) {
          //display: block;
          &.unpin {
            display: none;
          }
        }
      }
    }
  }

  &__nav {
    background-color: var(--c-headings);
    color: #ffffff;
    height: 100%;
    margin-top: 52px !important;
    margin-bottom: 8px;
    overflow-y: auto;
    &::-webkit-scrollbar-track {
      .main-nav & {
        background: transparent;
      }
    }

    &::-webkit-scrollbar-thumb {
      .main-nav & {
        background: transparent;
      }
    }
    &.has-scrollbar {
      //overflow-y: hidden;
      margin-right: 0;
      @include media-breakpoint-down(sm) {
        overflow-y: auto;
      }
      &:hover {
        overflow-y: scroll;
        &::-webkit-scrollbar-track {
          .main-nav & {
            background: #213655;
          }
        }

        &::-webkit-scrollbar-thumb {
          .main-nav & {
            background: #d8e4ec;
          }
        }
      }
    }

    @include media-breakpoint-down(md) {
      margin-top: var(--top-bar-height) !important;
    }

    .minimized:not(.maximized) &.scrollbared {
      margin-right: 0;
      overflow-y: scroll;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */
      &::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
      }

      .name {
        @include media-breakpoint-up(md) {
          opacity: 0;
          display: none;
        }
      }
    }

    a {
      color: #ffffff;
      position: relative;
    }

    .on-minimized {
      display: none;
      padding: 3px 7px;
      text-align: center;

      .minimized:not(.maximized) & {
        display: block;

        + a {
          display: none;
        }
      }
    }

    &__inner {
      padding: 10px 5px 0 10px;
      //overflow-y: scroll;
      height: 100%;
      max-width: 260px;

       > ul {
         max-width: 238px;
       }
    }

    &__item {
      margin-bottom: 2px;
      position: relative;

      > .sub-menu > .sub-menu__item {
        > a {
          padding: 10px 4px 10px 46px;
          display: block;
          width: 100%;
        }
      }

      > a {
        display: flex;
        align-items: center;
        padding: 3px 12px;
        border-radius: 10px;
        width: 100%;
        position: relative;

        &:hover {
          background-color: #213655;
          text-decoration: none;
        }

        .minimized:not(.maximized) & {
          @include media-breakpoint-up(md) {
            justify-content: center;
          }
        }
      }

      i {
        font-size: 25px;
        width: 35px;
        top: 2px;
        position: relative;
      }

      &.has-submenu {
        > a {
          &:after {
            @include one-icon();
            content: $icons8-var-expand-arrow;
            font-size: 10px;
            font-weight: bold;
            position: absolute;
            right: 12px;

            .minimized:not(.maximized) & {
              display: none;
            }
          }
        }
      }

      &.active {
        > a {
          background-color: #213655;

          &:after {
            transform: rotate(180deg);
          }
        }

        .sub-menu {
          display: block;
        }

        .minimized:not(.maximized) & .sub-menu {
          display: none;
        }
      }
    }

    .notify {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      background-color: #247fdb;
      color: #ffffff;
      border-radius: 15px;
      font-weight: bold;
      padding: 4px 7.5px;
      line-height: 13px;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 25px;
    }

    .sub-menu {
      display: none;
      margin-top: 10px;
      //margin-left: 48px;
      margin-bottom: 7px;
      font-size: 14px;



      .notify {
        display: inline-flex;
        position: static;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        background-color: #d8e4ec;
        color: #213655;
        border-radius: 7px;
        font-weight: bold;
        padding: 0 8px;
        margin-left: 10px;
        line-height: 15px;
      }

      .sub-menu {
        margin-left: 55px;

        .sub-menu__item {
          &:not(:last-child) {
            margin-bottom: 7px;
          }
          &:after {
            @include one-icon();
            content: $icons8-var-forward;
            font-size: 10px;
            font-weight: bold;
            position: absolute;
            right: initial;
            left: -13px;
            top: 6px;
          }

          &.active {
            > a {
              text-decoration: underline;
              font-weight: bold;
            }
          }

          > a:hover  {
            text-decoration: underline;
          }


          > a {
            background-color: transparent;
            border-radius: 0;
            padding-left: 5px;
          }
        }


        .menu-error-icon {
          font-size: 10px;
          height: 12px;
          width: 12px;
          top: 4px;
          left: initial;
          right: -20px;
        }
      }

      &__item {
        position: relative;

        &:not(:last-child) {
          margin-bottom: 0;
        }

        > a {
          border-radius: 10px;

          &:hover {
            background-color: #213655;
            text-decoration: none;
          }
        }


        &.active > a {
          background-color: #213655;
        }

        .menu-error-icon {
          font-size: 12px;
          height: 15px;
          width: 15px;
          top: 12px;
          left: 25px;
        }

        &.has-submenu {
          > a:after {
            @include one-icon();
            content: $icons8-var-expand-arrow;
            font-size: 10px;
            font-weight: bold;
            position: absolute;
            right: 12px;
            top: 17px;

            .minimized:not(.maximized) & {
              //display: none;
            }
          }
        }
      }
    }
  }

  .menu-error-icon {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    background-color: #ec8224;
    display: flex;
    //color: var(--c-headings);
    color: #fff;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    left: 4px;
    top: 13px;
  }
}

.hamburger-menu-mobile {
  display: none;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: var(--top-bar-height);
  @include media-breakpoint-down(md) {
    display: block;
  }

  .button--hamburger {
    width: 50px;
    height: calc(100% - 1px);
    //background-color: #c4d9e8;
    background-color: transparent;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c-headings);
    border: 0;
    padding: 0;

    i {
      font-size: 22px;
    }
  }
}
