/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-height: thin;
  scrollbar-color: #d8e4ec #213655;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 3px;
  border-radius: 7px;
}

*::-webkit-scrollbar-track {
  background: #213655;
  border-radius: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: #d8e4ec;
  border-radius: 7px;
}

.scrollbared--light {
  /* Works on Firefox */
  & {
    scrollbar-color: #d8e4ec #f7fafc;
  }

  &::-webkit-scrollbar-track {
    background: #f7fafc;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d8e4ec;
  }
}

.has-scrollbar {
  margin-right: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow-y: scroll;
}
