.insert-shortcuts {
  background-color: #E5EEF4;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 16px;
    margin-bottom: 10px;
    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  .item-row {
    display: flex;
    font-size: 14px;
    gap: 10px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 12px;
      flex-direction: column;
      gap: 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      @include media-breakpoint-down(sm) {
        gap: 5px;
      }
    }

    &__link {
      &:not(:last-child) {
        &:after {
          content: "|";
          padding-left: 10px;
          @include media-breakpoint-down(sm) {
            padding-left: 5px;
          }
        }
      }
      a {
        &:hover {
          color: var(--c-primary);
        }
      }
    }
  }
}