<div class="top-bar__button-wrapper">
    <button class="top-bar__button add-actions" title="Add">
        <span class="main-icon"><i class="add"></i></span>
    </button>
    <div class="top-bar__button__window add-actions-window">
        <div class="add-actions-window__row row sortable">
            <div class="add-actions-window__item col-sm-3 col-4">
                <a href="#">
                    <span class="add-actions-window__item__icon"><i class="add-basket"></i></span>
                    <span class="add-actions-window__item__name">Income Order</span>
                </a>
            </div>
            <div class="add-actions-window__item col-sm-3 col-4">
                <a href="#">
                    <span class="add-actions-window__item__icon"><i class="add-tag"></i></span>
                    <span class="add-actions-window__item__name">Product</span>
                </a>
            </div>
            <div class="add-actions-window__item col-sm-3 col-4">
                <a href="#">
                    <span class="add-actions-window__item__icon"><i class="box-move-right"></i></span>
                    <span class="add-actions-window__item__name">Goods Receipt</span>
                </a>
            </div>
            <div class="add-actions-window__item col-sm-3 col-4">
                <a href="#">
                    <span class="add-actions-window__item__icon"><i class="add-user-male"></i></span>
                    <span class="add-actions-window__item__name">Contact</span>
                </a>
            </div>

            <div class="add-actions-window__item col-sm-3 col-4">
                <a href="#">
                    <span class="add-actions-window__item__icon"><i class="task"></i></span>
                    <span class="add-actions-window__item__name">Task</span>
                </a>
            </div>
            <div class="add-actions-window__item col-sm-3 col-4">
                <a href="#">
                    <span class="add-actions-window__item__icon"><i class="headline"></i></span>
                    <span class="add-actions-window__item__name">Article</span>
                </a>
            </div>
            <div class="add-actions-window__item col-sm-3 col-4">
                <a href="#">
                    <span class="add-actions-window__item__icon"><i class="file-invoice-dollar"></i></span>
                    <span class="add-actions-window__item__name">Invoice</span>
                </a>
            </div>
        </div>
        <a href="#" class="show-more"><i class="expand-arrow"></i>More</a>
    </div>
</div>
