<div class="top-bar__button-wrapper">
    <div class="top-bar__search search-input-wrapper">
        <button id="topBarSearchInputBtnMobile" class="search-input-btn-mobile"><i class="left-arrow"></i></button>
        <input id="topBarSearchInput" class="search-input" type="text" placeholder="Search">
        <button id="topBarSearchInputBtn" class="search-input-btn"><i class="search"></i></button>
    </div>
    <div id="topBarSearchWindow" class="top-bar__button__window search-window">
        <div class="search-window__content">
            <div class="search-window__content__section">
                <h3 class="title"><i class="workspace"></i>Administration</h3>
                <ul class="list">
                    <li class="item"><a href="#">Nastavení dopravy a platby</a></li>
                    <li class="item"><a href="#" target="_blank">Prodejní kanály<i class="external-link"></i></a></li>
                    <li class="item"><a href="#">Adresář uživatelů</a></li>
                </ul>
            </div>
            <div class="search-window__content__section">
                <h3 class="title"><i class="lifebuoy"></i>Help</h3>
                <ul class="list">
                    <li class="item"><a href="#">Jak vytvořit novou platbu</a></li>
                    <li class="item"><a href="#">Přidání nového prodejního kanálu</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
