<div class="show-frontend show-frontend--has-list">
    <span class="show-frontend__button"><i class="external-link icon-left"></i><span class="text">Show frontend</span><i
            class="expand-arrow icon-right"></i></span>
    <ul class="show-frontend__list">
        <li class="show-frontend__list__item"><a href="">www.superpouzdra.cz</a></li>
        <li class="show-frontend__list__item"><a href="" target="_blank">www.drackovy-hracky.cz<i
                class="external-link"></i></a></li>
    </ul>
</div>
<!-- // Code for 1 link only -->
<!--<div class="show-frontend">
    <a class="show-frontend__button" href="" target="_blank"><i class="external-link icon-left"></i><span class="text">Show frontend</span></a>
</div>-->
