<div class="top-bar__button-wrapper top-bar__button-wrapper--user-account">
    <button class="top-bar__button user-account" title="User account">
        <span class="initials">J. J.</span>
        <span class="name">Jakub J.</span>
        <i class="expand-arrow"></i>
    </button>
    <div class="top-bar__button__window user-account-window">
        <div class="user-account-window__heading">
            <span class="name">Jakub Jirsa</span>
            <span class="email">jakub@jirsa-zaruba.cz</span>
        </div>
        <div class="user-account-window__content">
            <ul class="list">
                <li class="item"><a href=""><i class="user"></i>My account</a></li>
                <li class="item"><a href=""><i class="logout"></i>Log Out</a></li>
                <li class="item"><a href=""><i class="lock"></i>Lock</a></li>
            </ul>
        </div>
    </div>
</div>
