<div class="flag-status">
    <span class="status-active dropdown-button"><span class="img-wrapper"><img src="assets/images/icon-green-flag.png"
                                                               alt=""></span><span class="status-text">New</span><i
            class="expand-arrow"></i></span>
    <ul class="top-bar__button__window status-dropdown">
        <li class="item"><a href=""><span class="img-wrapper"><img src="assets/images/icon-translation.png"
                                                                   alt=""></span>To translate</a></li>
        <li class="item"><a href=""><span class="img-wrapper"><img src="assets/images/icon-briefcase.png" alt=""></span>Translated</a>
        </li>
        <li class="item"><a href=""><span class="img-wrapper"><img src="assets/images/icon-spinner.png" alt=""></span>For
            review</a></li>
        <li class="item"><a href=""><span class="img-wrapper"><img src="assets/images/icon-user.png" alt=""></span>Tomáš</a>
        </li>
        <li class="item"><a href=""><span class="img-wrapper"><img src="assets/images/icon-user.png" alt=""></span>Pavel</a>
        </li>
        <li class="item"><a href=""><span class="img-wrapper"><img src="assets/images/icon-green-flag.png"
                                                                   alt=""></span>Default</a></li>
    </ul>
</div>
