<div class="top-bar__button-wrapper">
    <button class="top-bar__button notifications" title="Notifications">
        <span class="main-icon">
            <i class="notification"></i>
            <span class="main-icon__notification">2</span>
        </span>
        <i class="expand-arrow"></i>
    </button>
    <div class="top-bar__button__window notifications-window">
        <div class="notifications-window__frontside">
            <div class="notifications-window__frontside__heading">
                <span class="mark-as-read"><a href="#"><i class="received"></i>Mark as read</a></span>
                <span class="settings-link"><a class="notification-settings-link" href="#"><i class="settings"></i>Settings</a></span>
            </div>
            <div class="notifications-window__frontside__content scrollbared">
                <div class="item">
                    <div class="item__check">
                        <button class="check-button"><i class="done"></i></button>
                    </div>
                    <div class="item__content">
                        <div class="item__heading">
                            <div class="name c-success"><i class="add-basket"></i>New order received</div>
                            <div class="date">10 min. ago</div>
                        </div>
                        <div class="item__text"><a href="#">011100004 for <span class="fw-bold">1250 CZK</span></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__check">
                        <button class="check-button"><i class="done"></i></button>
                    </div>
                    <div class="item__content">
                        <div class="item__heading">
                            <div class="name c-danger"><i class="mail-error"></i>Incorrect email</div>
                            <div class="date">10 min. ago</div>
                        </div>
                        <div class="item__text"><a href="#">Email bounced from <span
                                class="fw-bold">blabla@yahoo.com</span></a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__check">
                        <button class="check-button"><i class="done"></i></button>
                    </div>
                    <div class="item__content">
                        <div class="item__heading">
                            <div class="name c-danger"><i class="error"></i>Payment error</div>
                            <div class="date">29.3.2022 | 16:29</div>
                        </div>
                        <div class="item__text">
                            <a href="#">Nepodařilo se označit objednávku č. 2011902 ST 4.6 v MALL Pay jako
                                odeslanou.</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__check">
                        <button class="check-button check-button--disabled" disabled><i class="done"></i></button>
                    </div>
                    <div class="item__content">
                        <div class="item__heading">
                            <div class="name c-disabled"><i class="mail"></i>Email received</div>
                            <div class="date">29.3.2022 | 16:29</div>
                        </div>
                        <div class="item__text">
                            <a href="#">New message from <span class="fw-bold">blabla@yahoo.com</span></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__check">
                        <button class="check-button"><i class="done"></i></button>
                    </div>
                    <div class="item__content">
                        <div class="item__heading">
                            <div class="name c-success"><i class="add-basket"></i>New order received</div>
                            <div class="date">10 min. ago</div>
                        </div>
                        <div class="item__text"><a href="#">011100004 for <span class="fw-bold">1250 CZK</span></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__check">
                        <button class="check-button"><i class="done"></i></button>
                    </div>
                    <div class="item__content">
                        <div class="item__heading">
                            <div class="name c-danger"><i class="mail-error"></i>Incorrect email</div>
                            <div class="date">10 min. ago</div>
                        </div>
                        <div class="item__text"><a href="#">Email bounced from <span
                                class="fw-bold">blabla@yahoo.com</span></a></div>
                    </div>
                </div>

                <a href="#" class="show-more"><i class="expand-arrow"></i>More</a>
            </div>
        </div>

        <div class="notifications-window__backside">
            <div class="notifications-window__backside__heading">
                <a class="notification-settings-link" href="#"><i class="less-than"></i>Settings</a>
            </div>
            <div class="notifications-window__backside__content">
                <a class="btn btn--action" href="#"><i class="alarm"></i>Enable desktop notificitions</a>
                <ul class="notification-list">
                    <li class="notification-list__item">
                        <span class="name">New order received</span>
                        <span class="icons">
                            <a href="#" class="notify-icon notify-icon--mail active"></a>
                            <a href="#" class="notify-icon notify-icon--ring active"></a>
                        </span>
                    </li>
                    <li class="notification-list__item">
                        <span class="name">Customer registration</span>
                        <span class="icons">
                            <a href="#" class="notify-icon notify-icon--mail active"></a>
                            <a href="#" class="notify-icon notify-icon--ring"></a>
                        </span>
                    </li>
                    <li class="notification-list__item">
                        <span class="name">Payment received</span>
                        <span class="icons">
                            <a href="#" class="notify-icon notify-icon--mail active"></a>
                            <a href="#" class="notify-icon notify-icon--ring active"></a>
                        </span>
                    </li>
                    <li class="notification-list__item">
                        <span class="name">Product review</span>
                        <span class="icons">
                            <a href="#" class="notify-icon notify-icon--mail active"></a>
                            <a href="#" class="notify-icon notify-icon--ring active"></a>
                        </span>
                    </li>
                    <li class="notification-list__item">
                        <span class="name">Automated imports</span>
                        <span class="icons">
                            <a href="#" class="notify-icon notify-icon--mail"></a>
                            <a href="#" class="notify-icon notify-icon--ring active"></a>
                        </span>
                    </li>
                    <li class="notification-list__item">
                        <span class="name">Stock warnings</span>
                        <span class="icons">
                            <a href="#" class="notify-icon notify-icon--mail"></a>
                            <a href="#" class="notify-icon notify-icon--ring active"></a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

