<div class="flip-card flip-card--login-box">
    <div class="flip-card__inner">
        <div class="flip-card-front">
            <div class="login-box">
                <div class="login-box__logo">
                    <img src="assets/images/samples/logo-pouzdra.png" alt="">
                </div>
                <div class="login-box__text">Login to administration</div>

                <div class="login-box__inputs">
                    <div class="login-box__input-w-label">
                        <label class="label" for="email">E-mail:</label>
                        <input name="email" id="email" type="email" class="form-control form-control--rounded"
                               value="jirsa@jzshop.cz">
                    </div>
                    <div class="login-box__input-w-label">
                        <label class="label" for="password">Password:</label>
                        <input name="password" id="password" type="password"
                               class="form-control form-control--rounded form-control--error">
                    </div>

                    <div class="login-box__bottom">
                        <div class="login-box__bottom__link">
                            <a href="#" class="flip-card-btn">Forgot your password?</a>
                        </div>
                        <button type="submit" class="btn btn--primary"><span class="btn-front"><span class="btn-front-text">LOGIN</span></span></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flip-card-back">
            <div class="login-box">
                <div class="login-box__logo">
                    <img src="assets/images/samples/logo-pouzdra.png" alt="">
                </div>
                <div class="login-box__text">Forgotten password</div>
                <p class="text-start fw-bold">Enter your e-mail, where you receive information, how to get new
                    password.</p>
                <div class="login-box__inputs login-box__inputs--align-left">
                    <div class="login-box__input-w-label">
                        <label class="label" for="email-pass">E-mail:</label>
                        <input name="email-pass" id="email-pass" type="email" class="form-control form-control--rounded"
                               value="jirsa@jzshop.cz">
                    </div>

                    <div class="login-box__bottom login-box__bottom--mobile-column">
                        <div class="login-box__bottom__link">
                            <a href="#" class="flip-card-btn"><i class="left-arrow"></i>Back to login</a>
                        </div>
                        <button type="submit" class="btn btn--primary"><span class="btn-front"><span class="btn-front-text">SEND NEW PASSWORD</span></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
