<div class="login-box login-box--lock">
    <div class="login-box__logo">
        <img src="assets/images/samples/logo-pouzdra.png" alt="">
    </div>
    <div class="login-box__text">Locked by Jakub Jirsa</div>

    <div class="login-box__inputs">
        <div class="login-box__input-w-label">
            <label class="label" for="pin">PIN:</label>
            <input name="pin" id="pin" type="password" class="form-control form-control--rounded">
        </div>

        <div class="login-box__bottom">
            <div class="login-box__bottom__link">
                <a href="" class="switch-user"><i class="change-user"></i>This isn't you? Switch user.</a>
            </div>
            <input type="submit" value="LOGIN" class="form-control form-control--rounded form-control--action">
        </div>
    </div>
</div>
