<div class="modal fade" id="modalEditDeliveryDetails" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header__left">
                    {{> modal__top-bar-fullscreen}}
                    <h5 class="modal-title">Edit Delivery Details</h5>
                </div>
                {{> modal__top-bar-buttons}}
            </div>
            <div class="modal-body">
                <h3 class="modal-body__heading">Contacts</h3>

                <div class="modal-body__section">
                    <div class="input-row mb-2">
                        <label class="col-form-label">E-mail</label>
                        <div class="col-input">
                            <input type="text" class="form-control" value="jarda@yahoo.com">
                        </div>
                    </div>

                    <div class="input-row mb-2">
                        <label class="col-form-label">Phone</label>
                        <div class="col-input">
                            <input type="text" class="form-control" value="+420 733 500 600">
                        </div>
                    </div>

                </div>

                <h3 class="modal-body__heading">Delivery Adress</h3>

                <div class="modal-body__section">
                    <div class="input-row mb-2">
                        <label class="col-form-label">Company</label>
                        <div class="col-input">
                            <div class="input-group">
                                <input type="text" class="form-control" value="Moje firma s.r.o.">
                            </div>
                        </div>
                    </div>

                    <div class="input-row mb-2">
                        <label class="col-form-label">Name</label>
                        <div class="col-input">
                            <div class="input-group">
                                <input type="text" class="form-control" value="Jarda">
                            </div>
                        </div>
                    </div>

                    <div class="input-row mb-2">
                        <label class="col-form-label">Surname</label>
                        <div class="col-input">
                            <div class="input-group">
                                <input type="text" class="form-control" value="Vohnout">
                            </div>
                        </div>
                    </div>

                    <div class="input-row mb-2">
                        <label class="col-form-label">Street</label>
                        <div class="col-input">
                            <div class="input-group">
                                <input type="text" class="form-control" value="Moje Ulice">
                            </div>
                        </div>
                    </div>

                    <div class="input-row mb-2">
                        <label class="col-form-label">House number</label>
                        <div class="col-input">
                            <div class="input-group">
                                <input type="text" class="form-control" value="225">
                            </div>
                        </div>
                    </div>

                    <div class="input-row mb-2">
                        <label class="col-form-label">City</label>
                        <div class="col-input">
                            <div class="input-group">
                                <input type="text" class="form-control" value="Město">
                            </div>
                        </div>
                    </div>

                    <div class="input-row mb-2">
                        <label class="col-form-label">ZIP code</label>
                        <div class="col-input">
                            <div class="input-group">
                                <input type="text" class="form-control" value="200 01">
                            </div>
                        </div>
                    </div>

                    <div class="input-row mb-2">
                        <label class="col-form-label">Country</label>
                        <div class="col-input">
                            <select class="form-select2 form-select2--countries">
                                <option value="cs" selected>Czech republic</option>
                                <option value="en">United Kingdom</option>
                            </select>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>