<div style="max-width: 700px;">

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalEditStockItem">
        Edit stock item
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalEditProductPackaging">
        Edit product packaging
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalEditColumns">
        Edit columns
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalCreateParameters">
        Add parameters
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalNewPayment">
        New payment
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalAddProducts">
        Add products
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalNewDocument">
        New document
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalEditCustomerDetails">
        Edit customer details
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalEditDeliveryDetails">
        Edit delivery details
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalSendEmailToCustomer">
        Send e-mail to customer
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalOrderHistory">
        Order history
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalEditItemDetails">
        Edit item details (modal-lg)
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalEditShipping">
        Edit shipping
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalNewProduct">
        New product (bottom button)
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalNewOrder">
        New order
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalGeneralSettings">
        General settings
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalLanguageSets">
        Language sets
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalCookies">
       Cookies
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalGdpr">
        GDPR
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalWebsitePreview">
        Website preview
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalDeliveryCountries">
        Delivery countries
    </button>

    <button type="button" class="btn btn--dark m-1" data-bs-toggle="modal" data-bs-target="#modalEditProductVariant">
        Edit product variant
    </button>

</div>


{{> modal__edit-stock-item}}
{{> modal__edit-product-packaging}}
{{> modal__edit-columns}}
{{> modal__create-parameters}}
{{> modal__new-payment}}
{{> modal__add-products}}
{{> modal__new-document}}
{{> modal__edit-customer-details}}
{{> modal__edit-delivery-details}}
{{> modal__send-email-to-customer}}
{{> modal__order-history}}
{{> modal__edit-item-details}}
{{> modal__edit-shipping}}
{{> modal__new-product}}
{{> modal__new-order}}
{{> modal__general-settings}}
{{> modal__language-sets}}
{{> modal__cookies}}
{{> modal__gdpr}}
{{> modal__website-preview}}
{{> modal__delivery-countries}}
{{> modal__edit-product-variant}}
