<div class="top-bar__right top-bar-buttons">
    <button class="actions-button"><i class="menu-vertical"></i></button>
    <ul class="mobile-actions">
        <li class="item"><a href="" class="item-link">Send e-mail</a></li>
        <li class="item"><button class="item-link" data-bs-dismiss="modal">Cancel</button></li>
    </ul>
    <div class="actions">
        <button class="btn btn--primary"><span class="btn-front"><span class="btn-front-text"><i class="mail"></i>SEND E-MAIL</span></span>
        </button>
        <button class="btn btn--secondary" data-bs-dismiss="modal"><i class="multiply-2"></i>CANCEL</button>
    </div>
    <div class="fade-modal-actions" style="display: none"></div>
</div>