<div class="top-bar__right top-bar-buttons">
    <button class="actions-button">…</button>
    <ul class="mobile-actions">
        <li class="item"><a href="" class="item-link">Save</a></li>
        <li class="item"><a href="" class="item-link">Save &amp; close</a></li>
        <li class="item"><button class="item-link" data-bs-dismiss="modal">Cancel</button></li>
    </ul>
    <div class="actions">
        <button class="btn btn--primary"><span class="btn-front"><span class="btn-front-text">SAVE</span></span>
        </button>
        <button class="btn btn--secondary"><i class="save"></i>SAVE &amp; CLOSE</button>
        <button class="btn btn--secondary" data-bs-dismiss="modal"><i class="multiply-2"></i>CANCEL</button>
    </div>

    <div class="top-bar__button-wrapper top-bar__button-wrapper--full-screen">
        <button class="top-bar__button top-bar__button--full-screen toggle-fullscreen toggle-fullscreen--modal" title="Toggle Fullscreen">
            <span class="main-icon"><i class="expand fullscreen-expand"></i><i class="collapse fullscreen-collapse"></i></span>
        </button>
    </div>
</div>