<div class="modal modal--new-payment fade" id="modalNewDocument" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header__left">
                    {{> modal__top-bar-fullscreen}}
                    <h5 class="modal-title">New document</h5>
                </div>
                <div class="top-bar__right top-bar-buttons">
                    <div class="actions">
                        <button class="btn btn--primary always-visible"><span class="btn-front"><span class="btn-front-text">CREATE DOCUMENT</span></span></button>
                        <button class="btn btn--secondary btn--close-modal always-visible" data-bs-dismiss="modal"><i class="multiply-2"></i>CANCEL</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="input-row mb-2">
                    <label class="col-form-label">Document type</label>
                    <div class="col-input">
                        <select class="form-select2">
                            <option selected>Invoice</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>

                <div class="input-row mb-2">
                    <label class="col-form-label">Document number</label>
                    <div class="col-input">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="numbering" checked="">
                            <label class="switch-text fw-bold" for="numbering">Automatic numbering</label>
                        </div>
                    </div>
                </div>

                <div class="input-row mb-2">
                    <label class="col-form-label"></label>
                    <div class="col-input">
                        <input type="text" class="form-control" value="AS350038">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>