<aside id="rightPanel" class="right-panel">
    <div class="right-panel__inner">
        <div class="right-panel__top">
            <button id="rightPanelToggleTop" class="right-panel-toggle-btn btn btn--secondary btn--small-text"><i class="forward-button"></i><span>Hide</span></button>
            <div class="dropdown-list-wrapper">
                <button class="btn btn--dark btn--small-text dropdown-link"><i class="external-link"></i>Category preview<i class="expand-arrow expand-arrow--small"></i></button>
                {{> dropdown-list-sample}}
            </div>
        </div>
        <div class="right-panel__body">
            {{> right-panel__publication}}
            {{> right-panel__category-properties}}
            {{> right-panel__text-sets}}
            {{> right-panel__tags}}
            {{> right-panel__tasks}}
            {{> right-panel__logs}}
            {{> right-panel__pagination}}
        </div>
        <div class="right-panel__bottom">
            <button class="btn btn--delete btn--w-icon"><i class="trash-can"></i>DELETE CATEGORY</button>
        </div>
    </div>
</aside>
