<ul id="navTabs" class="nav nav-tabs">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#details" aria-selected="true">Category
            details
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#filters" aria-selected="false"><span
                class="unread"></span>Filters<span
                class="notify">1</span>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#relations" aria-selected="false">Relations<span
                class="notify">88</span>
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#xml" aria-selected="false">XML
        </button>
    </li>
    <div id="navTabsNext" class="nav-tabs__next">
        <button id="navTabsNextBtn" class="ham-btn"><i class="hamburger-menu"></i></button>
        <ul id="navTabsNextNav" class="nav-tabs__next__nav"></ul>
    </div>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="details">
        {{> category__tabs__content}}
    </div>

    <div class="tab-pane fade" id="filters">
        {{> category__tabs__content--sample}}
    </div>

    <div class="tab-pane fade" id="relations">
        {{> category__tabs__content--sample}}
    </div>

    <div class="tab-pane fade" id="xml">
        {{> category__tabs__content--sample}}
    </div>
</div>
