.rp-customer-details {
  margin: 0 -7px;

  table {
    td {
      padding: 2px 7px;

      &:first-child {
        text-align: center;
        vertical-align: top;

        i {
          font-size: 21px;
          &:before {
            font-weight: bold;
          }
        }
      }
    }
  }
  .icon-w-flag {
    display: flex;
    position: relative;

    .flag {
      border-radius: 50px;
      width: 13px;
      height: 13px;
      object-fit: cover;
      position: absolute;
      right: -5px;
      bottom: 5px;
    }
  }

  .name {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    i {
      font-size: 14px;
    }
  }

  .company-name {
    font-size: 12px;
  }

  .customers-phone {
    font-size: 20px;
    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }
}
