.right-panel {
  width: var(--right-panel-width);
  background-color: #e5eef4;
  height: 100vh;
  flex-shrink: 0;
  font-size: 14px;
  position: relative;

  &:before {
    content: "";
    width: 100%;
    display: block;
    height: 100vh;
    position: fixed;
    border-left: 1px solid #c4d9e8;
    background-color: #e5eef4;
  }

  @include media-breakpoint-down(xl) {
    position: fixed;
    right: calc(-1 * var(--right-panel-width));
    z-index: 10;
    overflow-y: auto;

    &.active {
      right: 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }
  }

  @include media-breakpoint-down(md) {
    //height: 100%;
  }

  &__inner {
    position: relative;
    padding: 15px 12px;
  }

  &__top {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    @include media-breakpoint-down(xl) {
      justify-content: space-between;
    }
  }

  &__body {
    margin: 10px 0;
  }

  &__bottom {
    margin-top: 15px;
    text-align: center;
  }
}

.right-panel-toggle {
  display: none;
  position: fixed;
  font-size: 20px;
  background-color: #d8e4ec;
  width: 40px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
  color: #213655;
  right: 0;
  z-index: 10;
  border: 1px solid #c2d8e7;
  border-right: 0;

  @include media-breakpoint-down(xl) {
    display: flex;
  }
}

.right-panel-toggle-btn {
  @include media-breakpoint-up(xl) {
    display: none;
  }
}
