.rp-tags {
  .tag-wrapper {
    display: flex;
    margin-bottom: 7px;
    align-items: center;
  }

  .tag {
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #c7d9e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .text {
      padding: 10px 10px;
      line-height: 0;
    }

    .delete {
      padding: 10px 10px;
      border-radius: 0 5px 5px 0;
      &:hover {
        background-color:  darken(#c7d9e4,15%);
        i {
          color: #ff5454;
        }
      }
    }

    i {
      position: relative;
      top: 1px;
      font-size: 14px;

      &:before {
        font-weight: bold;
      }
    }
  }

  .tag-icon {
    font-size: 21px;
    margin-left: 7.5px;
    flex-shrink: 0;
    position: relative;
    top: 1px;
    padding: 6px;
    border-radius: 5px;

    &:hover {
      background-color: #d7e3ec;
    }
  }

  .scheduled-text {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
