<div class="settings-cards">
    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="online-store"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">Warranty</h3>
            <div class="settings-card__desc">Goods warranties.</div>
        </div>
    </a>

    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="lifebuoy"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">VAT</h3>
            <div class="settings-card__desc">Country-specific rates, OSS.</div>
        </div>
    </a>

    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="marketing"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">Stocks and Availability</h3>
            <div class="settings-card__desc">Warehouses, stock limits.</div>
        </div>
    </a>

    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="extra-features"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">Manufactures</h3>
            <div class="settings-card__desc">List, details, description.</div>
        </div>
    </a>

    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="extra-features"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">Units</h3>
            <div class="settings-card__desc">List, values, packaging.</div>
        </div>
    </a>

    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="funnel"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">Filtres and Ordering</h3>
            <div class="settings-card__desc">Ordering, product filters, search.</div>
        </div>
    </a>

    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="lifebuoy"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">Labels</h3>
            <div class="settings-card__desc">Lsit, colors of product labels</div>
        </div>
    </a>

    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="marketing"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">Parameters</h3>
            <div class="settings-card__desc">Values, parameters groups.</div>
        </div>
    </a>

    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="extra-features"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">Extended Content</h3>
            <div class="settings-card__desc">Tables of measures, manuals.</div>
        </div>
    </a>

    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="extra-features"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">Retail Price Groups</h3>
            <div class="settings-card__desc">Customers prices groups.</div>
        </div>
    </a>
</div>