<div class="settings-cards">
    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="online-store"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">Store Settings</h3>
            <div class="settings-card__desc">Sellers details, store set-up</div>
        </div>
    </a>

    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="lifebuoy"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">Cookies</h3>
            <div class="settings-card__desc">Settings, used cookies, description.</div>
            <span class="notify">!</span>
        </div>
    </a>

    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="marketing"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">GDPR</h3>
            <div class="settings-card__desc">Consents, privacy policy.</div>
        </div>
    </a>

    <a class="settings-card" href="#">
        <div class="settings-card__icon">
            <i class="extra-features"></i>
        </div>
        <div class="settings-card__text">
            <h3 class="settings-card__title">Counters</h3>
            <div class="settings-card__desc">Orders, invoices, products...</div>
        </div>
    </a>
</div>