<div class="accordion">
    <div class="accordion-item accordion-item--v2">
        <h2 class="accordion-header">
            <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                <i class="extra-features"></i>
                <span class="accordion-button__text">General <span class="counter">(4)</span></span>
                <span class="accordion-button__notification-number">1</span>
            </button>
            <div class="accordion-header__right">

            </div>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                {{> settings__general-cards}}
            </div>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="accordion-item accordion-item--v2">
        <h2 class="accordion-header">
            <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                <i class="extra-features"></i>
                <span class="accordion-button__text">Product catalogue <span class="counter">(10)</span></span>
            </button>
            <div class="accordion-header__right">

            </div>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                {{> settings__product-cards}}
            </div>
        </div>
    </div>
</div>

<div class="accordion">
    <div class="accordion-item accordion-item--v2">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                <i class="basket"></i>
                <span class="accordion-button__text">Sales <span class="counter">(8)</span></span>
            </button>
            <div class="accordion-header__right">

            </div>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">

            </div>
        </div>
    </div>
</div>


