<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#Classification">
                <span class="accordion-button__text">Classification to categories</span>
            </button>
        </h2>
        <div id="Classification" class="accordion-collapse collapse show">
            <div class="accordion-body">

                <div class="category-tree">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="automatic">
                        <label class="switch-text fs-14" for="automatic">Automatically classify into parent categories</label>
                    </div>
                </div>

                <div class="category-tree">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="strom">
                        <label class="switch-text fw-bold" for="strom">Strom kategorií 1</label>
                    </div>
                </div>

                <div class="category-tree active"> <!-- active třída podbarvuje-->
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" checked id="strom2">
                        <label class="switch-text fw-bold" for="strom2">Strom kategorií 2</label>
                    </div>

                    <div class="category-level">
                        <div class="category-level__inner">
                            <input class="form-check-input" type="checkbox" id="cat-lvl-1" checked>
                            <label for="cat-lvl-1">Kategorie level 1</label>
                        </div>
                    </div>

                    <div class="category-level">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="category-level__inner">
                                    <input class="form-check-input form-check-input" type="checkbox" id="cat-lvl-2">
                                    <label for="cat-lvl-2">Kategorie level 2</label>
                                    <ul class="tree__list">
                                        <li class="tree__item">
                                            <input class="form-check-input form-check-input--small" type="checkbox"
                                                   id="cat-lvl-3a">
                                            <label for="cat-lvl-3a">Kategorie level 3</label>
                                        </li>
                                        <li class="tree__item">
                                            <input class="form-check-input form-check-input--small" type="checkbox"
                                                   id="cat-lvl-3b">
                                            <label for="cat-lvl-3b">Kategorie level 3</label>
                                        </li>
                                        <li class="tree__item">
                                            <input class="form-check-input form-check-input--small" type="checkbox"
                                                   id="cat-lvl-3c">
                                            <label for="cat-lvl-3c">Kategorie level 3</label>
                                            <ul class="tree__list">
                                                <li class="tree__item">
                                                    <input class="form-check-input form-check-input--small"
                                                           type="checkbox" id="cat-lvl-4a">
                                                    <label for="cat-lvl-4a">Kategorie level 4</label>
                                                </li>
                                                <li class="tree__item">
                                                    <input class="form-check-input form-check-input--small"
                                                           type="checkbox" id="cat-lvl-4b">
                                                    <label for="cat-lvl-4b">Kategorie level 4</label>
                                                </li>
                                                <li class="tree__item">
                                                    <input class="form-check-input form-check-input--small"
                                                           type="checkbox" id="cat-lvl-4c">
                                                    <label for="cat-lvl-4c">Kategorie level 4</label>
                                                    <ul class="tree__list">
                                                        <li class="tree__item">
                                                            <input class="form-check-input form-check-input--small"
                                                                   type="checkbox" id="cat-lvl-5a">
                                                            <label for="cat-lvl-5a">Kategorie level 5</label>
                                                        </li>
                                                        <li class="tree__item">
                                                            <input class="form-check-input form-check-input--small"
                                                                   type="checkbox" id="cat-lvl-5b">
                                                            <label for="cat-lvl-5b">Kategorie level 5</label>
                                                        </li>
                                                        <li class="tree__item">
                                                            <input class="form-check-input form-check-input--small"
                                                                   type="checkbox" id="cat-lvl-5c">
                                                            <label for="cat-lvl-5c">Kategorie level 5</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="category-level__inner">
                                    <input class="form-check-input form-check-input--small" type="checkbox"
                                           id="cat-lvl-22a">
                                    <label for="cat-lvl-22a">Kategorie level 2</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="category-level__inner">
                                    <input class="form-check-input form-check-input--small" type="checkbox"
                                           id="cat-lvl-22b">
                                    <label for="cat-lvl-22b">Kategorie level 2</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="category-level__inner">
                                    <input class="form-check-input form-check-input--small" type="checkbox"
                                           id="cat-lvl-22c">
                                    <label for="cat-lvl-22c">Kategorie level 2</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="category-level">
                        <div class="category-level__inner">
                            <input class="form-check-input" type="checkbox" id="cat-lvl-11" checked>
                            <label for="cat-lvl-11">Kategorie level 1</label>
                        </div>
                    </div>

                    <div class="category-level">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="category-level__inner">
                                    <input class="form-check-input" type="checkbox" id="cat-lvl-22">
                                    <label for="cat-lvl-22">Kategorie level 2</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="category-level__inner">
                                    <input class="form-check-input" type="checkbox" id="cat-lvl-222">
                                    <label for="cat-lvl-222">Kategorie level 2</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="category-level__inner">
                                    <input class="form-check-input" type="checkbox" id="cat-lvl-2222">
                                    <label for="cat-lvl-2222">Kategorie level 2</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="category-tree">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="strom3">
                        <label class="switch-text fw-bold" for="strom3">Strom kategorií 3</label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#Default">
                <span class="accordion-button__text">Default product category</span>
            </button>
        </h2>
        <div id="Default" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="note-alert mb-3">
                    <div class="note-alert__icon"><i class="error"></i></div>
                    <div class="note-alert__text">
                        <span>Please note:<br>To generate the breadcrumb navigation correctly, you need to select product category for each sales channel. If the product category on the sale channel is not selected, the default will be set.</span>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="general-table">
                        <thead>
                        <tr>
                            <th class="text-center">Default</th>
                            <th class="text-center">Sale channel</th>
                            <th class="text-center">domena.com</th>
                            <th class="text-center">alza.cz</th>
                            <th>Product categories</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="radio" name="default" checked>
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="radio" name="sale">
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="radio" name="domena.com">
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="radio" name="alza.cz">
                            </td>
                            <td class="text-nowrap">
                                <nav class="breadcrumb">
                                    <li class="breadcrumb__item"><a href="" class="breadcrumb__link">Kategorie level
                                        1</a></li>
                                </nav>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="radio" name="default">
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="radio" name="sale">
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="radio" name="domena.com">
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="radio" name="alza.cz" checked>
                            </td>
                            <td class="text-nowrap">
                                <nav class="breadcrumb">
                                    <li class="breadcrumb__item"><a href="" class="breadcrumb__link">Kategorie level
                                        1</a></li>
                                    <li class="breadcrumb__item"><a href="" class="breadcrumb__link">Kategorie level
                                        2</a></li>
                                    <li class="breadcrumb__item"><a class="breadcrumb__link active" href="">Kategorie
                                        level 3</a></li>
                                    <li class="breadcrumb__item inactive">Kategorie level 4</li>
                                </nav>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">
                                <input class="form-check-input" type="radio" name="default">
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="radio" name="sale" checked>
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="radio" name="domena.com" checked>
                            </td>
                            <td class="text-center">
                                <input class="form-check-input" type="radio" name="alza.cz">
                            </td>
                            <td class="text-nowrap">
                                <nav class="breadcrumb">
                                    <li class="breadcrumb__item"><a href="" class="breadcrumb__link">Kategorie level
                                        1</a></li>
                                    <li class="breadcrumb__item"><a href="" class="breadcrumb__link active">Kategorie
                                        level 2</a></li>
                                    <li class="breadcrumb__item inactive">Kategorie level 3</li>
                                </nav>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

