<div class="mt-4">
    <div class="grid-top">
        <div class="grid-top__left d-none d-sm-flex"></div>
        <div class="grid-top__actions nav-tabs-responsive vertical-menu">
            <button class="btn btn--secondary item"><i class="settings"></i>Load template</button>
            <button class="btn btn--secondary item"><i class="settings"></i>Import from product</button>
            <button class="btn btn--secondary item"><i class="settings"></i>New group</button>
            <div class="nav-tabs__next">
                <button class="more-btn nav-tabs__next__btn"><i class="menu-vertical"></i></button>
                <ul class="nav-tabs__next__nav"></ul>
            </div>
        </div>
    </div>

    <div class="parameters-wrapper">
        <div class="parameters">
            <div class="parameters__item parameters__item--default">
                <div class="parameters__left">
                    <div class="parameters__group">
                        <div class="input-group">
                            <input type="text" class="form-control" value="Základní parametry" disabled>
                            <a href="#" class="input-group-text input-group-text--btn" disabled><i class="edit"></i></a>
                        </div>
                    </div>
                </div>

                <div class="parameters__right">
                    <div class="parameter-rows">
                        <div class="parameter-row">
                            <div class="parameter-row__left">
                                <div class="parameter">
                                    <div class="input-group input-group--w-button">
                                        <select class="form-select2">
                                            <option value="barva">Barva</option>
                                            <option value="sleva">Sleva</option>
                                            <option value="dalsi">Další možnost</option>
                                            <option value="jeste">Ještě jedna</option>
                                        </select>
                                        <a href="#" class="input-group-text input-group-text--btn"><i class="edit"></i></a>
                                    </div>
                                </div>

                                <div class="parameter-value">
                                    <select class="form-select2">
                                        <option value="barva">Modrá</option>
                                        <option value="sleva">Sleva</option>
                                        <option value="dalsi">Další možnost</option>
                                        <option value="jeste">Ještě jedna</option>
                                    </select>
                                </div>
                            </div>

                            <div class="parameter-delete">
                                <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                            </div>
                        </div>

                        <div class="parameter-row">
                            <div class="parameter-row__left">
                                <div class="parameter">
                                    <div class="input-group input-group--w-button">
                                        <select class="form-select2">
                                            <option value="barva">Materiál</option>
                                            <option value="sleva">Sleva</option>
                                            <option value="dalsi">Další možnost</option>
                                            <option value="jeste">Ještě jedna</option>
                                        </select>
                                        <a href="#" class="input-group-text input-group-text--btn"><i class="edit"></i></a>
                                    </div>
                                </div>

                                <div class="parameter-value">
                                    <div class="multiple-select">
                                        <select class="multiple-select-input" name="actions[]" multiple="multiple">
                                            <option selected value="akce">Kůže</option>
                                            <option selected value="sleva">Nylon</option>
                                            <option value="dalsi">Ochranná skla</option>
                                            <option value="jeste">Ještě jedna</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="parameter-delete">
                                <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                            </div>
                        </div>

                        <div class="parameter-row">
                            <div class="parameter-row__left">
                                <div class="parameter">
                                    <div class="input-group input-group--w-button">
                                        <select class="form-select2">
                                            <option value="barva">Velikost (mm)</option>
                                            <option value="sleva">Sleva</option>
                                            <option value="dalsi">Další možnost</option>
                                            <option value="jeste">Ještě jedna</option>
                                        </select>
                                        <a href="#" class="input-group-text input-group-text--btn"><i class="edit"></i></a>
                                    </div>
                                </div>

                                <div class="parameter-value">
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="150">
                                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                                aria-expanded="false">mm
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Grams</a></li>
                                            <li><a class="dropdown-item" href="#">Blabla</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="parameter-delete">
                                <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                            </div>
                        </div>

                    </div>

                    <div class="parameters-buttons">
                        <a href="" class="btn btn--light"><span class="btn-front"><span class="btn-front-text"><i class="purchase-order"></i>ADD ALL</span></span></a>
                        <a href="" class="btn btn--light"><span class="btn-front"><span class="btn-front-text"><i class="purchase-order"></i>ADD PARAMETERS</span></span></a>
                    </div>

                </div>
            </div>
            <div class="parameters__item">
                <div class="parameters__left">
                    <div class="parameters__group">
                        <div class="input-group">
                            <input type="text" class="form-control look-like-active" value="Ještě další parametry"
                                   disabled>
                            <a href="#" class="input-group-text input-group-text--btn"><i class="edit"></i></a>
                        </div>
                        <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                    </div>
                </div>
                <div class="parameters__right">
                    <div class="parameter-rows">
                        <div class="parameter-row">
                            <div class="parameter-row__left">
                                <div class="parameter">
                                    <div class="input-group input-group--w-button">
                                        <select class="form-select2">
                                            <option value="barva">Barva</option>
                                            <option value="sleva">Sleva</option>
                                            <option value="dalsi">Další možnost</option>
                                            <option value="jeste">Ještě jedna</option>
                                        </select>
                                        <a href="#" class="input-group-text input-group-text--btn"><i class="edit"></i></a>
                                    </div>
                                </div>

                                <div class="parameter-value">
                                    <div class="multiple-select">
                                        <select class="multiple-select-input" name="actions[]" multiple="multiple">
                                            <option selected value="akce">Modrá</option>
                                            <option selected value="sleva">Zelená</option>
                                            <option value="dalsi">Ochranná skla</option>
                                            <option value="jeste">Ještě jedna</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="parameter-delete">
                                <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                            </div>
                        </div>

                        <div class="parameter-row">
                            <div class="parameter-row__left">
                                <div class="parameter">
                                    <div class="input-group input-group--w-button">
                                        <select class="form-select2">
                                            <option value="barva">Materiál</option>
                                            <option value="sleva">Sleva</option>
                                            <option value="dalsi">Další možnost</option>
                                            <option value="jeste">Ještě jedna</option>
                                        </select>
                                        <a href="#" class="input-group-text input-group-text--btn"><i class="edit"></i></a>
                                    </div>
                                </div>

                                <div class="parameter-value">
                                    <select class="form-select2">
                                        <option value="barva">Kůže</option>
                                        <option value="sleva">Sleva</option>
                                        <option value="dalsi">Další možnost</option>
                                        <option value="jeste">Ještě jedna</option>
                                    </select>
                                </div>
                            </div>

                            <div class="parameter-delete">
                                <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                            </div>
                        </div>

                        <div class="parameter-row">
                            <div class="parameter-row__left">
                                <div class="parameter">
                                    <div class="input-group input-group--w-button">
                                        <select class="form-select2">
                                            <option value="barva">Velikost EUR</option>
                                            <option value="sleva">Sleva</option>
                                            <option value="dalsi">Další možnost</option>
                                            <option value="jeste">Ještě jedna</option>
                                        </select>
                                        <a href="#" class="input-group-text input-group-text--btn"><i class="edit"></i></a>
                                    </div>
                                </div>

                                <div class="parameter-value">
                                    <select class="form-select2">
                                        <option value="barva">XL</option>
                                        <option value="sleva">Sleva</option>
                                        <option value="dalsi">Další možnost</option>
                                        <option value="jeste">Ještě jedna</option>
                                    </select>
                                </div>
                            </div>

                            <div class="parameter-delete">
                                <button class="action-btn action-btn--delete"><i class="multiply"></i></button>
                            </div>
                        </div>

                    </div>

                    <div class="parameters-buttons">
                        <a href="" class="btn btn--light"><span class="btn-front"><span class="btn-front-text"><i class="purchase-order"></i>ADD ALL</span></span></a>
                        <a href="" class="btn btn--light"><span class="btn-front"><span class="btn-front-text"><i class="purchase-order"></i>ADD PARAMETERS</span></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="bottom-actions">
        <button class="btn btn--primary" data-bs-toggle="modal" data-bs-target="#modalCreateParameters"><span class="btn-front"><span class="btn-front-text">ADD GROUP (modal)</span></span></button>
        <button class="btn btn--primary"><span class="btn-front"><span class="btn-front-text">ADD PARAMETERS</span></span></button>
    </div>

</div>

{{> modal__create-parameters}}