<aside id="rightPanel" class="right-panel">
    <div class="right-panel__inner">
        <div class="right-panel__top">
            <button id="rightPanelToggleTop" class="right-panel-toggle-btn btn btn--secondary btn--small-text"><i class="forward-button"></i><span>Hide</span></button>
            <div class="show-frontend show-frontend--has-list">
                <span class="show-frontend__button"><i class="eye-2 icon-left"></i><span class="text">Product Preview</span><i class="expand-arrow icon-right"></i></span>
                <ul class="show-frontend__list">
                    <li class="show-frontend__list__item"><a href=""><i
                            class="external-link"></i>www.superpouzdra.cz</a></li>
                    <li class="show-frontend__list__item"><a href="" target="_blank"><i class="external-link"></i>www.drackovy-hracky.cz</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-panel__body">
            {{> right-panel__publication}}
            {{> right-panel__product-properties}}
            {{> right-panel__text-sets}}
            {{> right-panel__tags}}
            {{> right-panel__tasks}}
            {{> right-panel__logs}}
            {{> right-panel__pagination}}
        </div>
        <div class="right-panel__bottom">
            <button class="btn btn--delete btn--w-icon"><i class="trash-can"></i>DELETE PRODUCT</button>
        </div>
    </div>
</aside>
