// Variables
// --------------------------

$icons8-css-prefix: "icons8";
$icons8-font-name: "jz-one_admin";
$icons8-font-path: "../fonts";

$icons8-var-expand: "\f100";
$icons8-var-alarm: "\f101";
$icons8-var-notification: "\f102";
$icons8-var-right-arrow: "\f103";
$icons8-var-up-arrow: "\f104";
$icons8-var-expand-arrow: "\f105";
$icons8-var-collapse-arrow: "\f106";
$icons8-var-left-arrow: "\f107";
$icons8-var-down: "\f108";
$icons8-var-right: "\f109";
$icons8-var-forward: "\f10a";
$icons8-var-reset: "\f10b";
$icons8-var-less-than: "\f10c";
$icons8-var-collapse: "\f10d";
$icons8-var-search: "\f10e";
$icons8-var-funnel: "\f10f";
$icons8-var-barcode-reader: "\f110";
$icons8-var-user-location: "\f111";
$icons8-var-user: "\f112";
$icons8-var-change-user: "\f113";
$icons8-var-logout: "\f114";
$icons8-var-shutdown: "\f115";
$icons8-var-multiply: "\f116";
$icons8-var-received: "\f117";
$icons8-var-done: "\f118";
$icons8-var-ok: "\f119";
$icons8-var-info: "\f11a";
$icons8-var-error: "\f11b";
$icons8-var-plus--: "\f11c";
$icons8-var-plus-math: "\f11d";
$icons8-var-plus-minus----: "\f11e";
$icons8-var-mail: "\f11f";
$icons8-var-no-phones: "\f120";
$icons8-var-hide: "\f121";
$icons8-var-no-edit: "\f122";
$icons8-var-no-message: "\f123";
$icons8-var-no-reminders: "\f124";
$icons8-var-phone: "\f125";
$icons8-var-mail-error: "\f126";
$icons8-var-add-basket: "\f128";
$icons8-var-lock: "\f129";
$icons8-var-unlock: "\f12a";
$icons8-var-link: "\f12b";
$icons8-var-external-link: "\f12c";
$icons8-var-chain: "\f12d";
$icons8-var-lifebuoy: "\f12e";
$icons8-var-workspace: "\f12f";
$icons8-var-add: "\f130";
$icons8-var-add-tag: "\f131";
$icons8-var-box-move-right: "\f132";
$icons8-var-box-move-left: "\f133";
$icons8-var-add-user-male: "\f134";
$icons8-var-add-user-group-woman-man: "\f135";
$icons8-var-task: "\f136";
$icons8-var-headline: "\f137";
$icons8-var-file-invoice-dollar: "\f138";
$icons8-var-cash-register: "\f139";
$icons8-var-dashboard-layout: "\f13a";
$icons8-var-plugin: "\f13b";
$icons8-var-extra-features: "\f13c";
$icons8-var-price: "\f13d";
$icons8-var-tags: "\f13e";
$icons8-var-package: "\f13f";
$icons8-var-commercial: "\f140";
$icons8-var-repository: "\f141";
$icons8-var-marketing: "\f142";
$icons8-var-bot: "\f143";
$icons8-var-disconnected: "\f144";
$icons8-var-online-store: "\f145";
$icons8-var-move-stock: "\f146";
$icons8-var-file: "\f147";
$icons8-var-system-administrator-male: "\f148";
$icons8-var-settings: "\f149";
$icons8-var-user-secured: "\f14a";
$icons8-var-privacy-policy: "\f14b";
$icons8-var-pass-fail: "\f14c";
$icons8-var-edit: "\f14d";
$icons8-var-filter-edit: "\f14e";
$icons8-var-multiply-2: "\f14f";
$icons8-var-note: "\f150";
$icons8-var-table-properties: "\f151";
$icons8-var-save: "\f152";
$icons8-var-double-right: "\f153";
$icons8-var-double-left: "\f154";
$icons8-var-eye: "\f155";
$icons8-var-schedule: "\f156";
$icons8-var-edit-calendar: "\f157";
$icons8-var-language: "\f158";
$icons8-var-hamburger-menu: "\f159";
$icons8-var-trash-can: "\f15a";
$icons8-var-plus---2: "\f15b";
$icons8-var-minus: "\f15c";
$icons8-var-barcode: "\f15d";
$icons8-var-time-machine: "\f15e";
$icons8-var-help: "\f15f";
$icons8-var-help-2: "\f160";
$icons8-var-purchase-order: "\f161";
$icons8-var-available-updates: "\f162";
$icons8-var-basket: "\f163";
$icons8-var-unpin: "\f166";
$icons8-var-pin: "\f167";
$icons8-var-calculator: "\f168";
$icons8-var-graph: "\f169";
$icons8-var-sale-price-tag: "\f16a";
$icons8-var-online-sale: "\f16b";
$icons8-var-gdpr: "\f16c";
$icons8-var-cookie: "\f16d";
$icons8-var-eye-2: "\f16e";
$icons8-var-consumable: "\f16f";
$icons8-var-empty-hourglass: "\f170";
$icons8-var-add-to-collection: "\f171";
$icons8-var-check-document: "\f172";
$icons8-var-read-message: "\f173";
$icons8-var-back-arrow: "\f174";
$icons8-var-forward-button: "\f175";
$icons8-var-menu-vertical: "\f176";
$icons8-var-star-filled: "\f177";
$icons8-var-one-page-up: "\f178";
$icons8-var-braille: "\f179";
$icons8-var-stacked-organizational-chart-highlighted-parent-node: "\f17a";
$icons8-var-price-tag: "\f17b";
$icons8-var-news: "\f17c";
$icons8-var-show-bottom-panel: "\f17d";
$icons8-var-show-left-side-panel: "\f17e";
$icons8-var-show-right-side-panel: "\f17f";
$icons8-var-browse-page: "\f180";
$icons8-var-adjust: "\f181";
$icons8-var-best-seller: "\f182";
$icons8-var-code: "\f183";
$icons8-var-image: "\f184";
$icons8-var-web: "\f185";
$icons8-var-sort-up: "\f186";
$icons8-var-sort-down: "\f187";
$icons8-var-wrench: "\f188";
$icons8-var-tax: "\f189";
$icons8-var-documents: "\f18a";
$icons8-var-dollar-euro-exchange: "\f18b";
$icons8-var-average-price: "\f18c";
$icons8-var-send-file: "\f18d";
$icons8-var-pdf: "\f18e";
