<div class="sales-top-info-wrapper">
    <div class="sales-top-info">
        <div class="item">
            <div class="item__heading">Customer:</div>
            <div class="item__name">Jarda Vohnout</div>
            <div class="item__subname text-start">Název firmy s.r.o.</div>
        </div>

        <div class="item">
            <div class="item__heading">Total to pay:</div>
            <div class="item__name">111 000 Kč</div>
            <div class="item__subname">incl. VAT</div>
        </div>

        <div class="item">
            <div class="item__heading">Payment status:</div>
            <div class="item__tag">
                <span class="tag-rounded tag-rounded--orange"><i class="multiply"></i>NOT PAID</span>
            </div>
        </div>

        <div class="item">
            <div class="item__heading">Expedition status:</div>
            <div class="item__tag">
                <span class="tag-rounded tag-rounded--green"><i class="done"></i>SHIPPED</span>
            </div>
        </div>

        <div class="item">
            <div class="item__heading">Source:</div>
            <div class="item__tag">
                <span class="source"><i class="phone"></i>By phone</span>
            </div>
        </div>

        <div class="item">
            <div class="item__heading">Order flags:</div>
            <div class="item__tag">
                <span class="order-flag"><i class="headline"></i>CUSTOMER NOTE</span>
            </div>
        </div>

        <div class="item">
            <div class="item__heading">Customer rating:</div>
            <div class="item__tag">
                <span class="order-flag order-flag--red"><i class="user-secured"></i>RISKY CUSTOMER</span>
            </div>
        </div>
    </div>
</div>